<div class="card">
    <div class="card-body">
        <h4 class="mb-32">Ajoutez un client</h4>
        <form>
            <mat-grid-list cols="2" rowHeight="5:1">
                <mat-grid-tile>
                    <mat-form-field class="w-100 fs-16" appearance="outline" style="margin-right: 16px;">
                        <mat-label>Nom </mat-label>
                        <input matInput type="text" placeholder="Veuillez entrer le nom du client" required  [(ngModel)]="client.nom_client" [ngModelOptions]="{ standalone: true }">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="w-100 fs-16" appearance="outline">
                        <mat-label>Numéro de téléphone</mat-label>
                        <input matInput type="text" placeholder="Veuillez entrer le numéro de téléphone du client" required [(ngModel)]="client.numtel_client" [ngModelOptions]="{ standalone: true }">
                    </mat-form-field>
                </mat-grid-tile>
               
                <mat-grid-tile>
                    <mat-form-field class="w-100 fs-16" appearance="outline" style="margin-right: 16px;">
                        <mat-label>Adresse</mat-label>
                        <input matInput type="text" placeholder="Veuillez entrer l'adresse du client" required [(ngModel)]="client.adresse_client" [ngModelOptions]="{ standalone: true }">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="w-100 fs-16" appearance="outline">
                        <mat-label>Courriel</mat-label>
                        <input matInput type="email" placeholder="Veuillez entrer le courriel du client" required [(ngModel)]="client.courriel_client" [ngModelOptions]="{ standalone: true }">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="w-100 fs-16" appearance="outline" style="margin-right: 16px;">
                        <mat-label>Site web</mat-label>
                        <input matInput type="text" placeholder="Veuillez entrer le site web du client s'il existe"  [(ngModel)]="client.siteweb_client" [ngModelOptions]="{ standalone: true }">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="w-100 fs-16" appearance="outline">
                        <mat-label>Numéro de compte bancaire</mat-label>
                        <input matInput type="text" placeholder="Veuillez entrer le numéro du compte bancaire du client" required [(ngModel)]="client.numcomptebancaire_client" [ngModelOptions]="{ standalone: true }">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <div>
                &nbsp;
            <button mat-button class="btn btn-success fw-normal" (click)="saveClient()" type="submit">Confirmer</button></div>
        </form>
    </div>
</div>