<div  fxLayoutAlign="center center"   >
    <div fxFlex.md="100%" fxFlex.lg="100%" fxFlex.xl="100%" fxFlex.sm="270%" >
        <mat-card class="overflow-hidden">
            <mat-card-content>
                <h4 class="mb-32">Ajoutez un client</h4>
                <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
                            <mat-form-field class="w-100 fs-16" style="margin-right: 16px;" appearance="outline" >
                                <mat-label>Type du code d'identification </mat-label>
                                <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone : true}" (ngModelChange)="changeCodeIdClient($event)" required>
                                  <mat-option  *ngFor="let codeId of codesId;" [value]="codeId.id" >
                                    {{codeId.value}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                       
                            <mat-form-field class="w-100 fs-16" appearance="outline" >
                                <mat-label>Code d'identification  </mat-label>
                                <input matInput type="text" placeholder="Veuillez entrer le code d'identification du client" formControlName="codeid" [ngClass]="{ 'is-invalid': submitted && f['codeid'].errors }"  [(ngModel)]="client.code_identification" >
                                <mat-error *ngIf="f['codeid'].errors" class="text-danger">
                                    <div *ngIf="f['codeid'].errors['required']">Le champ code d'identification est obligatoire !</div>
                                    <span *ngIf="f['codeid'].errors['pattern']">Le code d'identification saisi est invalide !</span>
                                    <span *ngIf="f['codeid'].errors['maxlength']">Vous avez dépassé la longueur minimale !</span>
                                    <span *ngIf="f['codeid'].errors['minlength']">Une longueur minimale est requise !</span>
                                  </mat-error>
                            </mat-form-field>
                       
                            <mat-form-field class="w-100 fs-16" appearance="outline" style="margin-right: 16px;">
                                <mat-label>Nom </mat-label>
                                <input matInput type="text" placeholder=" Ex : mariem gsaier " formControlName="nomclt"  [ngClass]="{ 'is-invalid': submitted && f['nomclt'].errors }"   [(ngModel)]="client.nom">
                                <mat-error *ngIf="f['nomclt'].errors" class="text-danger">
                                    <div *ngIf="f['nomclt'].errors['required']">Le champ nom est obligatoire !</div>
                                    <span *ngIf="f['nomclt'].errors['pattern']">Le nom saisi est invalide !</span>
                                  </mat-error>
                            </mat-form-field>
                      
                            <mat-form-field class="w-100 fs-16" appearance="outline" [floatLabel]="getFloatLabelValue()">
                                <mat-label>Numéro de téléphone</mat-label>
                                <input matInput type="tel" placeholder="Ex : 23456789" [ng2TelInputOptions]="{initialCountry: 'tn', separateDialCode:true}" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" [(ngModel)]="client.numtel"  ng2TelInput>
                                <mat-error *ngIf="f['phone'].errors" class="text-danger">
                                    <div *ngIf="f['phone'].errors['required']">Le champ numéro de téléphone est obligatoire !</div>
                                  </mat-error>
                            </mat-form-field>
                        
                            <mat-form-field class="w-100 fs-16" appearance="outline" style="margin-right: 16px;">
                                <mat-label>Adresse</mat-label>
                                <input matInput type="text" placeholder="Ex : 8 rue de moknine 2013 ben arous " formControlName="adresse" [ngClass]="{ 'is-invalid': submitted && f['adresse'].errors }"  [(ngModel)]="client.adresse">
                                <mat-error *ngIf="f['adresse'].errors" class="text-danger">
                                    <div *ngIf="f['adresse'].errors['required']">le champ adresse est obligatoire !</div>
                                    <div *ngIf="f['adresse'].errors['pattern']">l'adresse est invalide !</div>
                                  </mat-error>
                            </mat-form-field>
                                     
   
                            <mat-form-field class="w-100 fs-16" appearance="outline">
                                <mat-label>Courriel</mat-label>
                                    <input matInput type="email" placeholder="Ex : mariemgsaier@gmail.com"   formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" [(ngModel)]="client.courriel">
                                    <mat-error *ngIf="submitted && f['email'].errors" class="text-danger">
                                        <div *ngIf="f['email'].errors['required']">Le champ courriel est obligatoire</div>
                                        <span *ngIf="f['email'].errors['email']">Le courriel saisi est invalide</span>
                                      </mat-error>
                            </mat-form-field>
                      
                       
                            <mat-form-field class="w-100 fs-16" appearance="outline" style="margin-right: 16px;">
                                <mat-label>Site web</mat-label>
                                <input matInput type="text" placeholder="Ex : www.mariemgsr.tn" formControlName="website" [ngClass]="{ 'is-invalid': submitted && f['website'].errors }"  [(ngModel)]="client.siteweb" >
                                <mat-error *ngIf="f['website'].errors" class="text-danger">
                                    <div *ngIf="f['website'].errors['pattern']">le site web saisi est invalide</div>
                                  </mat-error>
                            </mat-form-field>
                       
                   
                    <div>
                      &nbsp;
                      <button
                        mat-button
                        class="btn btn-danger fw-normal"
                        (click)="annuler()"
                        type="submit"
                        style="float: right; margin-left: 0.3%"
                      >
                        Annuler
                      </button>
                    <button mat-button class="btn btn-success fw-normal" style="float: right" (click)="saveClient()"  type="submit">Sauvegarder</button></div>
                    <div 
        class="alert alert-danger alert-text-danger d-flex fs-14 " style="width: 354px;"
        role="alert" *ngIf="errorAddClient">
        <i-feather name="alert-circle" class="text-danger feather-base me-12"></i-feather>
        {{ errorMsg }}
      </div>
                </form>

            </mat-card-content>
        </mat-card>
        </div>
        </div>


  


