<div class="main-div">
  <mat-card class="example-card">
    <div class="div-btn ">
      <img src="assets\images\fakterlogo.png" height="170px" width="170px">

    </div>
    
    <mat-card-title>Edition de mot de passe </mat-card-title>
    <mat-card-subtitle
      >Changez votre mot de passe en raison de sécurité !</mat-card-subtitle
    >
    <mat-card-content>
      <form [formGroup]="changePwForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label for="username">Nom d'utilisateur</mat-label>
          <input
            matInput
            type="text"
            placeholder="le nom d'utilisateur envoyé dans l'e-mail"
            formControlName="username"
            [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
            [(ngModel)]="user.username"
          />
          <mat-error *ngIf="f['username'].errors" class="invalid-feedback">
            <div *ngIf="f['username'].errors['required']">
              Le nom d'utilisateur est obligatoire
            </div>
            <div *ngIf="f['username'].errors['pattern']">
              Le nom d'utilisateur ne peut contenir que des lettres et des
              chiffres
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label for="password">Mot de passe</mat-label>
          <input
            matInput
            type="password"
            placeholder="Entrez le nouveau mot de passe"
            formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            [(ngModel)]="user.password"
          />
          <mat-error *ngIf="f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">
              Le mot de passe est obligatoire
            </div>
            <div *ngIf="f['password'].errors['minlength']">
              Le mot de passe doit avoir au moins 6 caractères
            </div>
            <div *ngIf="f['password'].errors['pattern']">
              Le mot de passe doit contenir des miniscule, des majuscules des
              chiffres, et des caractères spéciaux
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label for="password">Confirmer Mot de passe</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
            [ngClass]="{
              'is-invalid': submitted && f['confirmPassword'].errors
            }"
            placeholder="Entrez de nouveau le mot de passe"
          />
          <mat-error
            *ngIf="f['confirmPassword'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['confirmPassword'].errors['required']">
              La confirmation de mot de passe est obligatoire
            </div>
            <div *ngIf="f['confirmPassword'].errors['matching']">
              Les deux mots de passe ne sont pas compatible
            </div>
          </mat-error>
        </mat-form-field>
      </form>

      <div class="div-btn">
        <button
          mat-raised-button
          class="btn btn-info fw-normal"
          type="submit"
          id="button"
          (click)="changeFirstPw()"
        >
          Sauvegarder
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
