<!-- Cards -->
<div fxLayout="row wrap" fxLayoutGap="30px grid">
  <div fxFlex.md="100%" fxFlex.lg="100%" fxFlex.xl="100%" style="display: flex;justify-content: center ; max-width: 100%;"  fxFlex.sm="100%" >
          <mat-card class="overflow-hidden" style="margin-right: 1%;" >    
            <mat-card-content>
              <div>
                <p class="fs-16 lh-lg fw-medium op-7">
                  Factures par état de facture
                </p>
                <p class="fs-20">
                  4
                </p>
            
              </div>
            </mat-card-content>
          </mat-card>
       <mat-card class="overflow-hidden" style="margin-right: 1%;">    
          <mat-card-content>
            <div>
              <p class="fs-16 lh-lg op-7  fw-medium">
                Factures par état d'échéance
              </p>
              <p class="fs-20">
                12
              </p>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="overflow-hidden" style="margin-right: 1%;">    
          <mat-card-content>
            <div>
              <p class="fs-16 lh-lg fw-medium op-7" >
                Factures par état d'échéance et facture
              </p>
              <p class="fs-20">
                23
              </p>
              <div style="float: right;"><mat-icon style="color: #e46a76; font-size: 40px;">warning</mat-icon></div>
            </div>
          </mat-card-content>
        </mat-card>

        
  </div>
</div>
