<div class="card">
  <div class="card-body">
    <h4 class="mb-32">Ajoutez un article</h4>
    <form>
      <mat-grid-list cols="2" rowHeight="5:1">
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Nom de l'article</mat-label>
            <input
              matInput
              type="text"
              placeholder="Entrez le nom d'utilisateur"
              required
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Type de l'article</mat-label>
            <input matInput type="text" placeholder="Entrez l'email" required />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Prix de vente</mat-label>
            <input
              matInput
              type="number"
              placeholder="Entrez le role"
              required
            />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Taxe de vente</mat-label>
            <input
              matInput
              type="number"
              placeholder="Entrez le mot de passe"
              required
            />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Coût</mat-label>
            <input
              matInput
              type="number"
              placeholder="Entrez le mot de passe"
              required
            />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Unié de mesure</mat-label>
            <input
              matInput
              type="number"
              placeholder="Entrez le mot de passe"
              required
            />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <button mat-button class="btn btn-success fw-normal" type="submit">
        Confirmer
      </button>

      <div>
        <br />
        <div
          *ngFor="let alerts of alerts"
          class="alert {{ alerts.background }} {{
            alerts.color
          }} d-flex fs-14 align-items-center rounded mb-16"
          role="alert"
        >
          <i-feather
            name="{{ alerts.icon }}"
            class="{{ alerts.iconColor }} feather-base me-12"
          ></i-feather>
          {{ alerts.message }}
          <!-- <button mat-button class="btn btn-success" (click)="newUser()" style="float: right;">Ajouter un autre utilisateur</button> -->
        </div>
      </div>
    </form>
  </div>
</div>
