<div class="card">
  <div class="card-body">
    <h4 class="mb-32">Ajoutez un compte bancaire</h4>
    <form [formGroup]="bankAccForm" (ngSubmit)="onSubmit()">
      <mat-grid-list cols="2" rowHeight="5:1">
        <mat-grid-tile>
          <mat-form-field
            class="w-100 fs-16"
            appearance="outline"
            style="margin-right: 16px"
          >
            <mat-label>Numéro de compte </mat-label>
            <input
              matInput
              type="text"
              placeholder="Veuillez entrer le numéro de compte"
              formControlName="numcompte"
              [ngClass]="{ 'is-invalid':  f['numcompte'].errors }"
              [(ngModel)]="BankAccount.num_compte"
            />
            <mat-error
              *ngIf="f['numcompte'].errors"
              class="text-danger"
            >
              <div *ngIf="f['numcompte'].errors['required']">
                Le champ Numéro de compte est obligatoire
              </div>
              <div *ngIf="f['numcompte'].errors['pattern']"
                >Le numéro de compte saisi est invalide</div
              >
              <div *ngIf="f['numcompte'].errors['maxlength']"
                >Le numéro de compte saisi est invalide</div
              >
              <div *ngIf="f['numcompte'].errors['minlength']"
              >Le numéro de compte saisi est invalide</div
            >
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>RIB </mat-label>
            <input
              matInput
              type="text"
              placeholder="Veuillez entrer le RIB"
              formControlName="rib"
              [ngClass]="{ 'is-invalid':  f['rib'].errors }"
              [(ngModel)]="BankAccount.rib"
            />
            <mat-error *ngIf="f['rib'].errors" class="text-danger">
              <div *ngIf="f['rib'].errors['required']">
                Le champ RIB est obligatoire
              </div>
              <div *ngIf="f['rib'].errors['pattern']"
                >Le RIB saisi est invalide</div
              >
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field
            class="w-100 fs-16"
            appearance="outline"
            style="margin-right: 16px"
          >
            <mat-label>Nom de la Banque</mat-label>
            <input
              matInput
              type="text"
              placeholder="Veuillez entrer le nom de la banque"
              formControlName="nomBanque"
              [ngClass]="{ 'is-invalid':  f['nomBanque'].errors }"
              [(ngModel)]="BankAccount.nom_banque"
            />
            <mat-error
              *ngIf=" f['nomBanque'].errors"
              class="text-danger"
            >
              <div *ngIf="f['nomBanque'].errors['required']">
                Le champ nom de banque est obligatoire
              </div>
              <div *ngIf="f['nomBanque'].errors['pattern']"
                >Le nom de banque saisi est invalide</div
              >
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>BIC</mat-label>
            <input
              matInput
              type="text"
              placeholder="Veuillez entrer le BIC"
              formControlName="bic"
              [ngClass]="{ 'is-invalid':  f['bic'].errors }"
              [(ngModel)]="BankAccount.bic"
            />
            <mat-error *ngIf=" f['bic'].errors" class="text-danger">
              <div *ngIf="f['bic'].errors['required']">
                Le champ BIC est obligatoire
              </div>
              <div *ngIf="f['bic'].errors['pattern']"
                >Le BIC saisi est invalide</div
              >
              <div *ngIf="f['bic'].errors['maxlength']"
                >Le numéro de compte saisi doit avoir 8 caractères au minimum</div
              >
              <div *ngIf="f['bic'].errors['minlength']"
              >Le numéro de compte saisi peut avoir 11 caractères au maximum</div
            >
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>IBAN </mat-label>
            <input
              matInput
              type="text"
              placeholder="Veuillez entrer le IBAN"
              formControlName="iban"
              [ngClass]="{ 'is-invalid':  f['iban'].errors }"
              [(ngModel)]="BankAccount.iban"
            />
            <mat-error
              *ngIf=" f['iban'].errors"
              class="text-danger"
            >
              <div *ngIf="f['iban'].errors['required']">
                Le champ IBAN est obligatoire
              </div>
              <span *ngIf="f['iban'].errors['iban']"
                >Le IBAN saisi est invalide</span
              >
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <button
        mat-button
        class="btn btn-success fw-normal"
        type="submit"
        (click)="saveBankAccount()"
      >
        Confirmer
      </button>
    </form>
  </div>
</div>
