<div class="card">
  <div class="card-body">
    <h4 class="mb-32">Ajoutez un compte bancaire</h4>
    <form>
      <mat-grid-list cols="2" rowHeight="5:1">
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline" style="margin-right: 16px;">
            <mat-label>Numéro de compte </mat-label>
            <input
              matInput
              type="text"
              placeholder="Veuillez entrer le numéro de compte"
              [(ngModel)]="BankAccount.num_compte"
              [ngModelOptions]="{ standalone: true }"
              required
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>RIB </mat-label>
            <input
              matInput
              type="text"
              placeholder="Veuillez entrer le RIB"
              [(ngModel)]="BankAccount.rib"
              [ngModelOptions]="{ standalone: true }"
              required
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline" style="margin-right: 16px;">
            <mat-label>Nom de la Banque</mat-label>
            <input
              matInput
              type="text"
              placeholder="Veuillez entrer le nom de la banque"
              [(ngModel)]="BankAccount.nom_banque"
              [ngModelOptions]="{ standalone: true }"
              required
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>BIC</mat-label>
            <input
              matInput
              type="text"
              placeholder="Veuillez entrer le BIC"
              [(ngModel)]="BankAccount.bic"
              [ngModelOptions]="{ standalone: true }"
              required
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline" style="margin-right: 16px;">
            <mat-label>Devise</mat-label>
            <mat-select
              name="devise"
              required
              [(ngModel)]="BankAccount.devise"
              [ngModelOptions]="{ standalone: true }"
            >
              <mat-option *ngFor="let devise of devises" [value]="devise.value">
                {{ devise.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Titulaire du compte </mat-label>
            <input
              matInput
              type="text"
              placeholder="Veuillez entrer le titulaire de compte"
              [(ngModel)]="BankAccount.tit_compte"
              [ngModelOptions]="{ standalone: true }"
              required
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>IBAN </mat-label>
            <input
              matInput
              type="text"
              placeholder="Veuillez entrer le IBAN"
              [(ngModel)]="BankAccount.iban"
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <button
        mat-button
        class="btn btn-success fw-normal"
        type="submit"
        (click)="saveBankAccount()"
      >
        Confirmer
      </button>
    </form>
  </div>
</div>
