<div class="card">
  <div class="card-body">
    <h4 class="mb-32">Ajoutez un utilisateur</h4>
    <form>
      <mat-grid-list cols="2" rowHeight="5:1">
        <mat-grid-tile>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Nom d'utilisateur</mat-label>
        <input
          matInput
          type="text"
          placeholder="Entrez le nom d'utilisateur"
          required
          [(ngModel)]="user.username"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Entrez l'email"
          required
          [(ngModel)]="user.email"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Rôle</mat-label>
        <mat-select name="vendeur" required [(ngModel)]="user.role" [ngModelOptions]="{ standalone: true }">
          <mat-option *ngFor="let role of roles" [value]="role.value">
              {{role.viewValue}}
          </mat-option>
      </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input
          matInput
          type="password"
          placeholder="Entrez le mot de passe"
          required
          [(ngModel)]="user.password"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Confirmer mot de passe</mat-label>
        <input
          matInput
          type="password"
          placeholder="Entrez le mot de passe"
          required
          [(ngModel)]="user.password"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
    </mat-grid-tile>
               
  </mat-grid-list>
      <div>
        &nbsp;
        <button
          mat-button
          class="btn btn-success fw-normal"
          style="float: right"
          (click)="saveUser()"
          type="submit"
        >
          Confirmer
        </button>
      </div>
      &nbsp;
      <div *ngIf="submitted">
        <br />
        <div
          *ngFor="let alerts of alerts"
          class="alert {{ alerts.background }} {{
            alerts.color
          }} d-flex fs-14 align-items-center rounded mb-16"
          role="alert"
        >
          <i-feather
            name="{{ alerts.icon }}"
            class="{{ alerts.iconColor }} feather-base me-12"
          ></i-feather>
          {{ alerts.message }}
          <button mat-button class="btn btn-info" (click)="newUser()" style="margin-left: 53%;">Ajouter un autre utilisateur</button>
        </div>
      </div>
    </form>
  </div>
</div>
