<mat-card class="w-100">
  <mat-card-content>
    <div>
      <button
        mat-button
        class="btn btn-info fw-normal"
        type="submit"
        style="float: right"
        *ngIf="!showObserverBoard"
        [matMenuTriggerFor]="menu"
        matTooltip="Ajout"
        matTooltipPosition="above"
      >
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="profile-dropdown">
        <div class="p-16 mb-4">
          <button mat-menu-item class="fs-16" routerLink="/add-devise">
            Ajouter une devise
          </button>
          <button mat-menu-item class="fs-16" routerLink="/add-date">
            Ajouter un taux de change
          </button>
        </div>
      </mat-menu>
    </div>
    <button
      mat-button
      class="btn btn-success fw-normal"
      style="float: right; margin-right: 0.142%"
      routerLink="/historique-devises"
      *ngIf="!showObserverBoard"
      matTooltip="Consulter Historique d'insertion"
      matTooltipPosition="above"
    >
      <mat-icon>history</mat-icon>
    </button>
    <button
      mat-button
      class="btn btn-secondary fw-normal btnw"
      routerLink="/archive-devises"
      type="submit"
      matTooltip="Consulter  l'archive"
      matTooltipPosition="above"
      style="float: right; margin-right: 0.142%"
    >
      Archive
    </button>
    <button
      mat-icon-button
      class="ms-4 me-4"
      style="float: right"
      (click)="search = !search"
    >
      <i-feather
        name="search"
        class="mt-n3 text-light-muted feather-base text-dark"
      ></i-feather>
    </button>

    <h4 class="mb-56" *ngIf="!showObserverBoard">Gérez les devises</h4>
    <h4 class="mb-56" *ngIf="showObserverBoard">Consultez les devises</h4>

    <div *ngIf="search" class="search-section d-flex align-items-center">
      <mat-form-field class="w-100" color="primary" appearance="legacy">
        <mat-label class="fs-16">Recherchez ici</mat-label>
        <input
          matInput
          placeholder="Veuillez taper un mot clé"
          autocomplete="off"
          (keyup)="filterData($event)"
        />
      </mat-form-field>
      <button mat-icon-button (click)="search = !search">
        <i-feather
          name="x-circle"
          class="mt-n3 text-light-muted feather-base text-dark"
        ></i-feather>
      </button>
    </div>

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>Nom devise</th>
          <td mat-cell class="fw-medium" *matCellDef="let devise">
            {{ devise.nom }}
          </td>
        </ng-container>

        <!-- Assigned Column -->
        <ng-container matColumnDef="devise">
          <th mat-header-cell *matHeaderCellDef>Code</th>
          <td mat-cell *matCellDef="let devise">
            <p class="mb-0 fw-medium">{{ devise.devise }}</p>
          </td>
        </ng-container>
        <!-- Project Column -->
        <ng-container matColumnDef="valeur">
          <th mat-header-cell *matHeaderCellDef>Taux de change</th>
          <td mat-cell *matCellDef="let devise">
            <p class="mb-0 fw-medium">{{ devise.dates[0].valeur }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date d'insertion</th>
          <td mat-cell *matCellDef="let devise">
            <p class="mb-0 fw-medium">
              {{ devise.dates[0].date | date: "medium":"+0200":"fr" }}
            </p>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef [hidden]="showObserverBoard">
            Actions
          </th>
          <td
            mat-cell
            *matCellDef="let dateDevise; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveDateDevise(dateDevise, i)"
          >
            <button mat-icon-button [matMenuTriggerFor]="menu4">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu4="matMenu">
              <button
                mat-menu-item
                *ngIf="!showObserverBoard"
                (click)="archiveDevise(dateDevise)"
              >
                <mat-icon>archive</mat-icon>
                <span>Archiver</span>
              </button>
              <button mat-menu-item
              (click)="deleteDevise(dateDevise)"
              *ngIf="!showObserverBoard">
                <mat-icon>delete</mat-icon>
                <span>Supprimer devise</span>
              </button>
              <button
                mat-menu-item
                (click)="deleteDateDevise(dateDevise)"
                *ngIf="!showObserverBoard"
              >
                <mat-icon>delete</mat-icon>
                <span>Supprimer taux de change</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        #paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20, 30, 50, 100]"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
