<div class="card">
  <div class="card-body">
    <h4 class="mb-32">Ajoutez un prix pour l'article <u>{{article.nom_article}}</u>

    </h4>
    <form [formGroup]="prixArticleForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Coût vente</mat-label>
        <input
          matInput
          type="number"
          placeholder="Entrez le prix"
          formControlName="cout"
          [ngClass]="{ 'is-invalid': submitted && f['cout'].errors }"
          required
          [(ngModel)]="prixArticle.cout"
        />
        <mat-error *ngIf="f['cout'].errors" class="text-danger">
          <div *ngIf="f['cout'].errors['required']">
            Le champ coût est obligatoire
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Prix vente</mat-label>
        <input
          matInput
          type="number"
          placeholder="Entrez le prix"
          formControlName="prix"
          [ngClass]="{ 'is-invalid': submitted && f['prix'].errors }"
          required
          [(ngModel)]="prixArticle.prix"
        />
        <mat-error *ngIf="f['prix'].errors" class="text-danger">
          <div *ngIf="f['prix'].errors['required']">
            Le champ prix est obligatoire
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field
        class="w-100 fs-16"
        appearance="outline"
        style="margin-right: 16px"
      >
        <mat-label>Date d'insertion</mat-label>

        <input
          matInput
          [matDatepicker]="dp"
          formControlName="date"
          [(ngModel)]="prixArticle.date"
          [ngClass]="{ 'is-invalid': submitted && f['date'].errors }"
          readonly
          required
        />
        <mat-datepicker #dp></mat-datepicker>
        <mat-error *ngIf="f['date'].errors" class="text-danger">
          <div *ngIf="f['date'].errors['required']">
            Le champ date est obligatoire
          </div>
        </mat-error>
      </mat-form-field>
      &nbsp;
      <button
        mat-button
        class="btn btn-success fw-normal"
        style="float: right"
        (click)="savePrixArticle()"
        type="submit"
      >
        Confirmer
      </button>
    </form>
  </div>
</div>
