<mat-stepper [linear]=false #stepper>
<div class="card">
  <div class="card-body">
    <mat-step  label="Brouillon" state="brouillon">
    <div style="margin-top: 15px;">
      <p>Facture client</p>
      <h3>Brouillon</h3>
    </div>
    <form [formGroup]="factureForm">
      <mat-grid-list cols="2" rowHeight="5:1">
        <mat-grid-tile>
          <mat-form-field
            class="w-100 fs-16"
            style="margin-right: 16px"
            appearance="outline"
          >
            <mat-label>Client </mat-label>
            <mat-select name="devise" required>
              <mat-option *ngFor="let client of clients" [value]="client.value">
                {{ client.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Vendeur</mat-label>
            <mat-select name="devise" required>
              <mat-option
                *ngFor="let vendeur of vendeurs"
                [value]="vendeur.value"
              >
                {{ vendeur.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field
            class="w-100 fs-16"
            style="margin-right: 16px"
            appearance="outline"
          >
            <mat-label>Date de facturation</mat-label>
            <input matInput [matDatepicker]="picker1" required />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field
            class="w-100 fs-16"
            style="margin-right: 16px"
            appearance="outline"
          >
            <mat-label>Date d'échéance</mat-label>
            <input matInput [matDatepicker]="picker2" required />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field
            class="w-100 fs-16"
            style="margin-right: 16px"
            appearance="outline"
          >
            <mat-label>Devise</mat-label>
            <mat-select name="devise" required>
              <mat-option *ngFor="let devise of devises" [value]="devise.value">
                {{ devise.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field
            class="w-100 fs-16"
            style="margin-right: 16px"
            appearance="outline"
          >
            <mat-label>Numéro du bon de commande</mat-label>
            <input
              matInput
              type="text"
              placeholder="Veuillez entrer le numéro du bon de commande"
              required
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field
            class="w-100 fs-16"
            style="margin-right: 16px"
            appearance="outline"
          >
            <mat-label>Compte bancaire du bénificiaire</mat-label>
            <input
              matInput
              type="text"
              placeholder="Veuillez entrer le numéro du bon de commande"
              required
            />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
    <mat-card class="w-100">
    <mat-card-content>
      <h4 class="mb-56">Ligne de facture</h4>

      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell class="fw-medium" *matCellDef="let element">
              {{ element.id }}
            </td>
          </ng-container>

          <!-- Assigned Column -->
          <ng-container matColumnDef="assigned">
            <th mat-header-cell *matHeaderCellDef>Assigned</th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium">{{ element.name }}</p>
              <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
            </td>
          </ng-container>

          <!-- Project Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Project</th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium op-5">{{ element.project }}</p>
            </td>
          </ng-container>

          <!-- Priority Column -->
          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef>Priority</th>
            <td mat-cell *matCellDef="let element">
              <span class="badge {{ element.badge }} rounded-pill">{{
                element.priority
              }}</span>
            </td>
          </ng-container>

          <!-- Budget Column -->
          <ng-container matColumnDef="budget">
            <th mat-header-cell *matHeaderCellDef>Budget</th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium">{{ element.budget }}</p>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <p style="float: right; margin-top: 15px">
          <strong>Total :</strong> 123dt
        </p>
      </div>
    </mat-card-content>
  </mat-card>
  <div style="margin-top: -10px; margin-right: 43px">
    <button
      mat-button
      class="btn btn-danger fw-normal mt-4"
      type="submit"
      style="float: right; margin-left: 0.3%"
      
    >
      Annuler
    </button>
    <button
      mat-button
      class="btn btn-success fw-normal mt-4"
      type="submit"
      style="float: right"
    >
      Sauvegarder
    </button>
    <button mat-button class="btn btn-info fw-normal mt-4 "
    style="float: left ;margin-left:25px;"  matStepperNext>Confirmer Etape</button>
   
</div>
    </mat-step>
    <div >
      <mat-step  label="Ouvert" state="ouvert">
        <div style="margin-top: 15px;">
          <p>Facture client</p>
          <h3>Fac/2022/0001</h3>
        </div>
        <mat-grid-list style="margin-left: -210px;"  cols="2" rowHeight="50px">
          <mat-grid-tile ><p ><strong>Client </strong></p></mat-grid-tile>
          <mat-grid-tile><p><strong>Vendeur</strong></p> <br></mat-grid-tile>
          <mat-grid-tile><p><strong>Date de facturation </strong></p></mat-grid-tile>
          <mat-grid-tile><p><strong>Date d'échéance </strong></p></mat-grid-tile>
          <mat-grid-tile><p><strong>Numéro du bon de commande</strong></p></mat-grid-tile>
        </mat-grid-list>
        <mat-card class="w-100">
          <mat-card-content>
            <h4 class="mb-56">Ligne de facture</h4>
      
            <div class="table-responsive">
              <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>Id</th>
                  <td mat-cell class="fw-medium" *matCellDef="let element">
                    {{ element.id }}
                  </td>
                </ng-container>
      
                <!-- Assigned Column -->
                <ng-container matColumnDef="assigned">
                  <th mat-header-cell *matHeaderCellDef>Assigned</th>
                  <td mat-cell *matCellDef="let element">
                    <p class="mb-0 fw-medium">{{ element.name }}</p>
                    <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
                  </td>
                </ng-container>
      
                <!-- Project Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Project</th>
                  <td mat-cell *matCellDef="let element">
                    <p class="mb-0 fw-medium op-5">{{ element.project }}</p>
                  </td>
                </ng-container>
      
                <!-- Priority Column -->
                <ng-container matColumnDef="priority">
                  <th mat-header-cell *matHeaderCellDef>Priority</th>
                  <td mat-cell *matCellDef="let element">
                    <span class="badge {{ element.badge }} rounded-pill">{{
                      element.priority
                    }}</span>
                  </td>
                </ng-container>
      
                <!-- Budget Column -->
                <ng-container matColumnDef="budget">
                  <th mat-header-cell *matHeaderCellDef>Budget</th>
                  <td mat-cell *matCellDef="let element">
                    <p class="mb-0 fw-medium">{{ element.budget }}</p>
                  </td>
                </ng-container>
      
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
              <p style="float: right; margin-top: 15px">
                <strong>Total :</strong> 123dt
              </p>
            </div>
          </mat-card-content>
        </mat-card>
        <div style="margin-top: -10px; margin-right: 43px">
          <button
            mat-button
            class="btn btn-danger fw-normal"
            type="submit"
            style="float: right; margin-left: 0.3%"
          >
            Annuler
          </button>
          <button
            mat-button
            class="btn btn-success fw-normal"
            type="submit"
            style="float: right"
          >
            Sauvegarder
          </button>
          <button mat-button matStepperPrevious class="btn btn-warning
          fw-normal "
         style="float:left;margin-right: -20px">Retour</button>
          
          <button mat-button class="btn btn-info fw-normal "
          style="float: left ;margin-left:25px;"  matStepperNext>Confirmer Etape</button>
          
          <a routerLink ="/print-facture"><button mat-button class="btn btn-primary
            fw-normal "
           style="margin-left: 5px" >Envoyer et imprimer </button></a>
          
          
      </div>
      </mat-step>
    </div>
    <mat-step label="Payé" state="payé">
      <div style="margin-top: 15px;">
        <p>Facture client</p>
        <h3>Fac/2022/0001</h3>
      </div>
      <mat-grid-list style="margin-left: -210px;"  cols="2" rowHeight="50px">
        <mat-grid-tile ><p ><strong>Client </strong></p></mat-grid-tile>
        <mat-grid-tile><p><strong>Vendeur</strong></p> <br></mat-grid-tile>
        <mat-grid-tile><p><strong>Date de facturation </strong></p></mat-grid-tile>
        <mat-grid-tile><p><strong>Date d'échéance </strong></p></mat-grid-tile>
        <mat-grid-tile><p><strong>Numéro du bon de commande</strong></p></mat-grid-tile>
        <mat-grid-tile><p><strong>Date de paiement</strong></p></mat-grid-tile>
      </mat-grid-list>
      <mat-card class="w-100">
        <mat-card-content>
          <h4 class="mb-56">Ligne de facture</h4>
    
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
              <!-- Id Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell class="fw-medium" *matCellDef="let element">
                  {{ element.id }}
                </td>
              </ng-container>
    
              <!-- Assigned Column -->
              <ng-container matColumnDef="assigned">
                <th mat-header-cell *matHeaderCellDef>Assigned</th>
                <td mat-cell *matCellDef="let element">
                  <p class="mb-0 fw-medium">{{ element.name }}</p>
                  <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
                </td>
              </ng-container>
    
              <!-- Project Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Project</th>
                <td mat-cell *matCellDef="let element">
                  <p class="mb-0 fw-medium op-5">{{ element.project }}</p>
                </td>
              </ng-container>
    
              <!-- Priority Column -->
              <ng-container matColumnDef="priority">
                <th mat-header-cell *matHeaderCellDef>Priority</th>
                <td mat-cell *matCellDef="let element">
                  <span class="badge {{ element.badge }} rounded-pill">{{
                    element.priority
                  }}</span>
                </td>
              </ng-container>
    
              <!-- Budget Column -->
              <ng-container matColumnDef="budget">
                <th mat-header-cell *matHeaderCellDef>Budget</th>
                <td mat-cell *matCellDef="let element">
                  <p class="mb-0 fw-medium">{{ element.budget }}</p>
                </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <p style="float: right; margin-top: 15px">
              <strong>Total :</strong> 123dt
            </p>
          </div>
        </mat-card-content>
      </mat-card>
      <div style="margin-top: -10px; margin-right: 43px">
        <button
          mat-button
          class="btn btn-danger fw-normal"
          type="submit"
          style="float: right; margin-left: 0.3%"
        >
          Annuler
        </button>
        <button
          mat-button
          class="btn btn-success fw-normal"
          type="submit"
          style="float: right"
        >
          Sauvegarder
        </button>
        <button mat-button class="btn btn-info fw-normal "
        style="float: left ;margin-left:25px;"  >Enregistrer paiement</button>
        <button mat-button matStepperPrevious class="btn btn-warning
        fw-normal "
       style="margin-left: 5px">Retour</button>
    </div>
    </mat-step>
    <ng-template matStepperIcon="brouillon">
      <mat-icon>drafts</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="ouvert">
      <mat-icon>description</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="payé">
      <mat-icon>done_all</mat-icon>
    </ng-template>
    </div>
</div>

</mat-stepper>
