<mat-horizontal-stepper [linear]=true #stepper>
<div class="card">
  <div class="card-body">
    <mat-step [stepControl]="factureForm" label="Brouillon" state="brouillon">
    <div style="margin-top: 15px;">
      <p>Facture client</p>
      <h3>Brouillon</h3>
    </div>
    <form [formGroup]="factureForm"  (ngSubmit)="onSubmit()">
      <mat-grid-list cols="2" rowHeight="5:1">
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline" style="margin-right: 16px">
            <mat-label>Client</mat-label>
            <mat-select placeholder="Selectionnez une devise" [(ngModel)]="facture.nom_client" formControlName="client"
            [ngClass]="{ 'is-invalid':  f['client'].errors }" required >
              <mat-option *ngFor="let client of clients;" [value]="client" >{{ client.nom }}</mat-option>
            </mat-select>
            <mat-error
            *ngIf="f['client'].errors"
            class="text-danger"
          >
            <div *ngIf="f['client'].errors['required']">
              Le champ Numéro de bon de commande est obligatoire !
            </div>
          </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field
            class="w-100 fs-16"
            style="margin-right: 16px"
            appearance="outline"
          >
            <mat-label>Numéro du bon de commande</mat-label>
            <input
              matInput
              type="text"
              placeholder="Veuillez entrer le numéro du bon de commande"
              formControlName="num_bc"
              required
              [ngClass]="{ 'is-invalid':  f['num_bc'].errors }"
            />
            <mat-error
          *ngIf="f['num_bc'].errors"
          class="text-danger"
        >
          <div *ngIf="f['num_bc'].errors['required']">
            Le champ Numéro de bon de commande est obligatoire !
          </div>
          <div *ngIf="f['num_bc'].errors['pattern']"
            >Le numéro de bon de commande saisi est invalide !</div
          >
        </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field
            class="w-100 fs-16"
            style="margin-right: 16px"
            appearance="outline"
          >
            <mat-label>Date de facturation</mat-label>
            <input matInput [matDatepicker]="picker1" required  formControlName="date_facturation"
            [ngClass]="{ 'is-invalid':  f['date_facturation'].errors }" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error
            *ngIf="f['date_facturation'].errors"
            class="text-danger"
          >
            <div *ngIf="f['date_facturation'].errors['required']">
              Le champ date de facturation est obligatoire !
            </div>
          </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field
            class="w-100 fs-16"
            style="margin-right: 16px"
            appearance="outline"
          >
            <mat-label>Date d'échéance</mat-label>
            <input matInput [matDatepicker]="picker2" required formControlName="date_echeance"
            [ngClass]="{ 'is-invalid':  f['date_echeance'].errors }" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error
            *ngIf="f['date_echeance'].errors"
            class="text-danger"
          >
            <div *ngIf="f['date_echeance'].errors['required']">
              Le champ date d'échéance est obligatoire !
            </div>
          </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline" style="margin-right: 16px">
            <mat-label>Num compte bancaire de la société</mat-label>
            <mat-select placeholder="Selectionnez une devise" required [(ngModel)]="facture.num_compte" formControlName="num_compte"
            [ngClass]="{ 'is-invalid':  f['num_compte'].errors }">
              <mat-option *ngFor="let comptebancaire of comptesbancaires;" [value]="comptebancaire" >{{ comptebancaire.num_compte }}</mat-option>
            </mat-select>
            <mat-error
            *ngIf="f['num_compte'].errors"
            class="text-danger"
          >
            <div *ngIf="f['num_compte'].errors['required']">
              Le champ numéro de compte bancaire est obligatoire !
            </div>
          </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline" style="margin-right: 16px">
            <mat-label>Devise</mat-label>
            <mat-select placeholder="Selectionnez une devise" required [(ngModel)]="facture.nom_devise" formControlName="devise"
            [ngClass]="{ 'is-invalid':  f['devise'].errors }">
              <mat-option *ngFor="let devise of devises;" [value]="devise" >{{ devise.nom }}</mat-option>
            </mat-select>
            <mat-error
            *ngIf="f['devise'].errors"
            class="text-danger"
          >
            <div *ngIf="f['devise'].errors['required']">
              Le champ devise est obligatoire !
            </div>
          </mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
    <mat-card class="w-100">
      <mat-card-content>
        <h4 class="mb-56">Ligne de facture</h4>
    
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
            <!-- Id Column -->
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef>Article</th>
              <td mat-cell class="fw-medium" *matCellDef="let element">
                {{ element.nom }}
              </td>
            </ng-container>
    
            <!-- Assigned Column -->
            <ng-container matColumnDef="quantite">
              <th mat-header-cell *matHeaderCellDef>Quantité</th>
              <td mat-cell *matCellDef="let element">
                <p class="mb-0 fw-medium">{{ element.quantite }}</p>
              </td>
            </ng-container>
    
            <!-- Project Column -->
            <ng-container matColumnDef="prix">
              <th mat-header-cell *matHeaderCellDef>Prix</th>
              <td mat-cell *matCellDef="let element">
                <p class="mb-0 fw-medium op-5">{{ element.prix }}</p>
              </td>
            </ng-container>
    
            <!-- Priority Column -->
            <ng-container matColumnDef="taxe">
              <th mat-header-cell *matHeaderCellDef>Taxe</th>
              <td mat-cell *matCellDef="let element">
                <span class="badge {{ element.taxe }} rounded-pill">{{
                  element.priority
                }}</span>
              </td>
            </ng-container>
    
            <!-- Budget Column -->
            <ng-container matColumnDef="sous_total">
              <th mat-header-cell *matHeaderCellDef>Sous-total</th>
              <td mat-cell *matCellDef="let element">
                <p class="mb-0 fw-medium">{{ element.sous_total }}</p>
              </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <div class="add">
              <mat-icon style="font-size: 14px;">add<a class="link"(click)="openDialog()">Ajouter un article</a></mat-icon>
          </div>
          <div>
          <p style="float: right; margin-top: 15px">
            <strong>Total :</strong> 123dt
          </p>
        </div>
        </div>
      </mat-card-content>
    </mat-card>
    
  <div style="margin-top: -10px; margin-right: 43px">
    <button
      mat-button
      class="btn btn-danger fw-normal mt-4"
      type="submit"
      style="float: right; margin-left: 0.3%"
      
    >
      Annuler
    </button>
    <button
      mat-button
      class="btn btn-success fw-normal mt-4"
      type="submit"
      style="float: right"
    >
      Sauvegarder
    </button>
    <button mat-button class="btn btn-info fw-normal mt-4 "
    style="float: left ;margin-left:25px;"  matStepperNext>Confirmer Etape</button>
   
</div>
    </mat-step>
    <div >
      <mat-step  label="Ouvert" state="ouvert" [stepControl]="factureForm">
        <div style="margin-top: 15px;">
          <p>Facture client</p>
          <h3>Fac/2022/0001</h3>
        </div>
        <mat-grid-list style="margin-left: -210px;"  cols="2" rowHeight="50px">
          <mat-grid-tile ><p ><strong>Client </strong></p></mat-grid-tile>
          <mat-grid-tile><p><strong>Vendeur</strong></p> <br></mat-grid-tile>
          <mat-grid-tile><p><strong>Date de facturation </strong></p></mat-grid-tile>
          <mat-grid-tile><p><strong>Date d'échéance </strong></p></mat-grid-tile>
          <mat-grid-tile><p><strong>Numéro du bon de commande</strong></p></mat-grid-tile>
        </mat-grid-list>
        <mat-card class="w-100">
          <mat-card-content>
            <h4 class="mb-56">Ligne de facture</h4>
        
            <div class="table-responsive">
              <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
                <!-- Id Column -->
                <ng-container matColumnDef="nom">
                  <th mat-header-cell *matHeaderCellDef>Article</th>
                  <td mat-cell class="fw-medium" *matCellDef="let element">
                    {{ element.nom }}
                  </td>
                </ng-container>
        
                <!-- Assigned Column -->
                <ng-container matColumnDef="quantite">
                  <th mat-header-cell *matHeaderCellDef>Quantité</th>
                  <td mat-cell *matCellDef="let element">
                    <p class="mb-0 fw-medium">{{ element.quantite }}</p>
                  </td>
                </ng-container>
        
                <!-- Project Column -->
                <ng-container matColumnDef="prix">
                  <th mat-header-cell *matHeaderCellDef>Prix</th>
                  <td mat-cell *matCellDef="let element">
                    <p class="mb-0 fw-medium op-5">{{ element.prix }}</p>
                  </td>
                </ng-container>
        
                <!-- Priority Column -->
                <ng-container matColumnDef="taxe">
                  <th mat-header-cell *matHeaderCellDef>Taxe</th>
                  <td mat-cell *matCellDef="let element">
                    <span class="badge {{ element.taxe }} rounded-pill">{{
                      element.priority
                    }}</span>
                  </td>
                </ng-container>
        
                <!-- Budget Column -->
                <ng-container matColumnDef="sous_total">
                  <th mat-header-cell *matHeaderCellDef>Sous-total</th>
                  <td mat-cell *matCellDef="let element">
                    <p class="mb-0 fw-medium">{{ element.sous_total }}</p>
                  </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
              <div class="add">
                  <mat-icon style="font-size: 14px;">add<a class="link"(click)="openDialog()">Ajouter un article</a></mat-icon>
              </div>
              <div>
              <p style="float: right; margin-top: 15px">
                <strong>Total :</strong> 123dt
              </p>
            </div>
            </div>
          </mat-card-content>
        </mat-card>
        
        <div style="margin-top: -10px; margin-right: 43px">
          <button
            mat-button
            class="btn btn-danger fw-normal"
            type="submit"
            style="float: right; margin-left: 0.3%"
          >
            Annuler
          </button>
          <button
            mat-button
            class="btn btn-success fw-normal"
            type="submit"
            style="float: right"
          >
            Sauvegarder
          </button>
          <button mat-button matStepperPrevious class="btn btn-warning
          fw-normal "
         style="float:left;margin-right: -20px">Retour</button>
          
          <button mat-button class="btn btn-info fw-normal "
          style="float: left ;margin-left:25px;"  matStepperNext>Confirmer Etape</button>
          
          <a routerLink ="/print-facture"><button mat-button class="btn btn-primary
            fw-normal "
           style="margin-left: 5px" >Envoyer et imprimer </button></a>
          
          
      </div>
      </mat-step>
    </div>
    <mat-step label="Payé" state="payé" [stepControl]="factureForm">
      <div style="margin-top: 15px;">
        <p>Facture client</p>
        <h3>Fac/2022/0001</h3>
      </div>
      <mat-grid-list style="margin-left: -210px;"  cols="2" rowHeight="50px">
        <mat-grid-tile ><p ><strong>Client </strong></p></mat-grid-tile>
        <mat-grid-tile><p><strong>Vendeur</strong></p> <br></mat-grid-tile>
        <mat-grid-tile><p><strong>Date de facturation </strong></p></mat-grid-tile>
        <mat-grid-tile><p><strong>Date d'échéance </strong></p></mat-grid-tile>
        <mat-grid-tile><p><strong>Numéro du bon de commande</strong></p></mat-grid-tile>
        <mat-grid-tile><p><strong>Date de paiement</strong></p></mat-grid-tile>
      </mat-grid-list>
      <mat-card class="w-100">
        <mat-card-content>
          <h4 class="mb-56">Ligne de facture</h4>
      
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
              <!-- Id Column -->
              <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef>Article</th>
                <td mat-cell class="fw-medium" *matCellDef="let element">
                  {{ element.nom }}
                </td>
              </ng-container>
      
              <!-- Assigned Column -->
              <ng-container matColumnDef="quantite">
                <th mat-header-cell *matHeaderCellDef>Quantité</th>
                <td mat-cell *matCellDef="let element">
                  <p class="mb-0 fw-medium">{{ element.quantite }}</p>
                </td>
              </ng-container>
      
              <!-- Project Column -->
              <ng-container matColumnDef="prix">
                <th mat-header-cell *matHeaderCellDef>Prix</th>
                <td mat-cell *matCellDef="let element">
                  <p class="mb-0 fw-medium op-5">{{ element.prix }}</p>
                </td>
              </ng-container>
      
              <!-- Priority Column -->
              <ng-container matColumnDef="taxe">
                <th mat-header-cell *matHeaderCellDef>Taxe</th>
                <td mat-cell *matCellDef="let element">
                  <span class="badge {{ element.taxe }} rounded-pill">{{
                    element.priority
                  }}</span>
                </td>
              </ng-container>
      
              <!-- Budget Column -->
              <ng-container matColumnDef="sous_total">
                <th mat-header-cell *matHeaderCellDef>Sous-total</th>
                <td mat-cell *matCellDef="let element">
                  <p class="mb-0 fw-medium">{{ element.sous_total }}</p>
                </td>
              </ng-container>
      
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <div class="add">
                <mat-icon style="font-size: 14px;">add<a class="link"(click)="openDialog()">Ajouter un article</a></mat-icon>
            </div>
            <div>
            <p style="float: right; margin-top: 15px">
              <strong>Total :</strong> 123dt
            </p>
          </div>
          </div>
        </mat-card-content>
      </mat-card>
      
      <div style="margin-top: -10px; margin-right: 43px">
        <button
          mat-button
          class="btn btn-danger fw-normal"
          type="submit"
          style="float: right; margin-left: 0.3%"
        >
          Annuler
        </button>
        <button
          mat-button
          class="btn btn-success fw-normal"
          type="submit"
          style="float: right"
        >
          Sauvegarder
        </button>
        <button mat-button class="btn btn-info fw-normal "
        style="float: left ;margin-left:25px;"  >Enregistrer paiement</button>
        <button mat-button matStepperPrevious class="btn btn-warning
        fw-normal "
       style="margin-left: 5px">Retour</button>
    </div>
    </mat-step>
    <ng-template matStepperIcon="brouillon">
      <mat-icon>drafts</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="ouvert">
      <mat-icon>description</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="payé">
      <mat-icon>done_all</mat-icon>
    </ng-template>
    </div>
</div>

</mat-horizontal-stepper>
