<!-- Search Box -->
<div *ngIf="search" class="search-section d-flex align-items-center">
  <mat-form-field class="w-100" color="primary" appearance="legacy">
    <mat-label class="fs-16">Recherchez içi</mat-label>
    <input matInput [(ngModel)]="username" />
  </mat-form-field>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      
    </li>
  </ul>
  <button mat-icon-button (click)="searchName()">
    <i-feather
      name="corner-down-left"
      class="mt-n3 text-light-muted feather-base text-dark"
    ></i-feather>
  </button>
  <button mat-icon-button (click)="search = !search">
    <i-feather
      name="x-circle"
      class="mt-n3 text-light-muted feather-base text-dark"
    ></i-feather>
  </button>
</div>
<mat-card class="w-100">
  <mat-card-content>
        <button
      mat-button
      class="btn btn-info fw-normal"
      routerLink="/add-user"
      type="submit"
      style="float: right"
    >
      Ajouter
    </button>
    <button mat-button class="btn btn-danger fw-normal" style="float: right; margin-right: 0.142%" (click)="removeAllUsers()">Supprimer Tout</button>
    <button mat-icon-button class="ms-4 me-4" style="float: right;" (click)="search = !search">
      <i-feather
        name="search"
        class="mt-n3 text-light-muted feather-base text-dark"
      ></i-feather>
    </button>
    <h4 class="mb-56">Gérez vos utilisateurs</h4>

    <div class="table-responsive">
      <table
        mat-table
        [dataSource]="dataSource"
        class="text-nowrap w-100"
      >
      
        <ng-container>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell class="fw-medium" *matCellDef="let user">
              {{ user.id }}
            </td>
          </ng-container>

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Nom d'utilisateur</th>
            <td mat-cell *matCellDef="let user">
              <p class="mb-0 fw-medium">{{ user.username }}</p>
            </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let user">
              <p class="mb-0 fw-medium">{{ user.email }}</p>
            </td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Rôle</th>
            <td mat-cell *matCellDef="let user">
              <span>{{ user.role }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let user; let i = index" [class.active]="i == currentIndex" (click)="setActiveUser(user, i)">
              <span><button mat-button class="btn btn-success fw-normal" style="margin-right: 1%;" type="submit" name="modifier">
                Modifier
              </button></span>
              <span><button mat-button class="btn btn-danger fw-normal" type="submit" name="supprimer" (click)="deleteUser()">
                Supprimer
              </button></span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </ng-container>
      </table>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="w-100" *ngIf="disabelModif">
  <mat-card-content>
    <form>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Nom d'utilisateur</mat-label>
        <input
          matInput
          type="text"
          placeholder="Entrez le nom d'utilisateur"
          id="username"
          [(ngModel)]="currentUser.username"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Entrez l'email"
          required
          id="email"
          [(ngModel)]="currentUser.email"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Role</mat-label>
        <input
          matInput
          type="role"
          placeholder="Entrez le role"
          required
          id="role"
          [(ngModel)]="currentUser.role"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>

      <div>
        &nbsp;
        <button
          mat-button
          class="btn btn-success fw-normal"
          (click)="updateUser()"
          type="submit"
          style="float: right"
        >
          Confirmer
        </button>
        <p>{{ message }}</p>
      </div>
    </form>
  </mat-card-content>
</mat-card>
