<div class="main-div" fxLayoutAlign="space-around center">
  <mat-card class="example-card">
    <div class="div-btn">
      <img src="assets\images\fakterlogo.png" height="170px" width="170px" />
    </div>
    <mat-card-title> Mot de passe oublié </mat-card-title>
    <mat-card-content>
      <form [formGroup]="forgotPwForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            type="email"
            placeholder="Veuillez entrer votre e-mail"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
            [(ngModel)]="user.email"
          />
          <mat-error *ngIf="submitted && f['email'].errors" class="text-danger">
            <div *ngIf="f['email'].errors['required']">
              Le champ e-mail est obligatoire
            </div>
            <span *ngIf="f['email'].errors['email']"
              >L'e-mail saisi est invalide !</span
            >
          </mat-error>
        </mat-form-field>
      </form>
      <div class="div-btn">
        <button
          mat-raised-button
          class="btn btn-info fw-normal"
          type="submit"
          id="button"
          (click)="forgotPw()"
        >
          Confirmer
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
