<mat-toolbar color="white">
  <span>
    <img
      src="\assets\images\logo-black.png"
      alt=""
      fxFlex.md="20%"
      fxFlex.lg="12.125%"
      fxFlex.xl="20%"
      fxFlex.sm="20%"
      fxFlex.xs="30%"
    />
    
  </span>
  <span fxFlex><button
    class="form-group"
    mat-raised-button
    class="btn btn-info fw-normal"
    style="background-color: #000000;padding: 0 30px;"
    routerLink="/login"
  >
    Se Connecter
  </button></span>
  
</mat-toolbar>

<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>
