<mat-card class="w-100">
  <mat-card-content>
    <div *ngIf="search" class="search-section d-flex align-items-center">
      <mat-form-field class="w-100" color="primary" appearance="legacy">
        <mat-label class="fs-16">Recherchez ici</mat-label>
        <input
          matInput
          placeholder="Veuillez taper un mot clé"
          autocomplete="off"
          (keyup)="filterData($event)"
        />
      </mat-form-field>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"></li>
      </ul>
      <button mat-icon-button (click)="search = !search">
        <i-feather
          name="x-circle"
          class="mt-n3 text-light-muted feather-base text-dark cancel-btn"
        ></i-feather>
      </button>
    </div>
    <button
      mat-button
      class="btn btn-info fw-normal btnw"
      routerLink="/add-client"
      matTooltip="Ajouter un client"
      matTooltipPosition="above"
      type="submit"
      style="float: right"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-button
      class="btn btn-primary fw-normal"
      matTooltip="Exporter en Excel"
      matTooltipPosition="above"
      style="float: right; margin-right: 0.142%"
      (click)="exportexcel()"
    >
      <mat-icon>save_alt</mat-icon>
    </button>

    <button
      mat-button
      class="btn btn-danger fw-normal"
      style="float: right; margin-right: 0.142%"
      matTooltip="Supprimer tous les clients"
      matTooltipPosition="above"
      (click)="removeAllClients()"
    >
      Supprimer Tout
    </button>

    <button
      mat-icon-button
      class="ms-4 me-4"
      style="float: right"
      (click)="search = !search"
    >
      <i-feather
        name="search"
        class="mt-n3 text-light-muted feather-base text-dark"
      ></i-feather>
    </button>
    <h4 class="mb-56">Gérez vos clients</h4>

    <div class="table-responsive">
      <table
        mat-table
        [dataSource]="dataSource"
        id="excel-table"
        class="text-nowrap w-100"
      >
        <ng-container matColumnDef="code_identification">
          <th mat-header-cell *matHeaderCellDef>Code d'identification</th>
          <td mat-cell *matCellDef="let client">
            <p class="mb-0 fw-medium">{{ client.code_identification }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let client">
            <p class="mb-0 fw-medium">{{ client.nom }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="numtel">
          <th mat-header-cell *matHeaderCellDef>Numéro de téléphone</th>
          <td mat-cell *matCellDef="let client">
            <p class="mb-0 fw-medium">{{ client.numtel }}</p>
          </td>
        </ng-container>

        <!-- Project Column -->
        <ng-container matColumnDef="adresse">
          <th mat-header-cell *matHeaderCellDef>Adresse</th>
          <td mat-cell *matCellDef="let client">
            <p class="mb-0 fw-medium">{{ client.adresse }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="courriel">
          <th mat-header-cell *matHeaderCellDef>Courriel</th>
          <td mat-cell *matCellDef="let client">
            <p class="mb-0 fw-medium">{{ client.courriel }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="siteweb">
          <th mat-header-cell *matHeaderCellDef>Siteweb</th>
          <td mat-cell *matCellDef="let client">
            <p class="mb-0 fw-medium">{{ client.siteweb }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef >Actions</th>
          <td
            mat-cell
            *matCellDef="let client; let i = index"
            [class.active]="i == currentIndex"
          >
            <button
              mat-button
              class="btn btn-success fw-normal btnw"
              style="margin-right: 1%"
              matTooltip="Modifier le client"
              matTooltipPosition="above"
              type="submit"
              (click)="setActiveClient(client, i)"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              mat-button
              class="btn btn-danger fw-normal btnw"
              style="margin-right: 1%"
              type="submit"
              matTooltip="Supprimer le client"
              matTooltipPosition="above"
              (click)="deleteClient(client)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        #paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20, 30, 50, 100]"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="w-100" *ngIf="disabelModif">
  <mat-card-content>
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
      <mat-form-field
        class="w-100 fs-16"
        style="margin-right: 16px"
        appearance="outline"
      >
        <mat-label>Type du code d'identification </mat-label>
        <mat-select
          [(ngModel)]="selectedValue"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="changeCodeIdClient($event)"
          required
        >
          <mat-option *ngFor="let codeId of codesId" [value]="codeId.id">
            {{ codeId.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Code d'identification </mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuillez entrer le code d'identification du client"
          formControlName="codeid"
          [ngClass]="{ 'is-invalid': submitted && f['codeid'].errors }"
          [(ngModel)]="currentClient.code_identification"
        />
        <mat-error *ngIf="f['codeid'].errors" class="text-danger">
          <div *ngIf="f['codeid'].errors['required']">
            Le champ code d'identification est obligatoire !
          </div>
          <span *ngIf="f['codeid'].errors['pattern']"
            >Le code d'identification saisi est invalide !</span
          >
          <span *ngIf="f['codeid'].errors['maxlength']"
            >Vous avez dépassé la longueur minimale !</span
          >
          <span *ngIf="f['codeid'].errors['minlength']"
            >Une longueur minimale est requise !</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Nom </mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuillez entrer votre modification"
          id="username"
          [(ngModel)]="currentClient.nom"
          formControlName="nomclt"
          [ngClass]="{ 'is-invalid': submitted && f['nomclt'].errors }"
        />
        <mat-error *ngIf="f['nomclt'].errors" class="text-danger">
          <div *ngIf="f['nomclt'].errors['required']">
            Le champ nom est obligatoire !
          </div>
          <span *ngIf="f['nomclt'].errors['pattern']"
            >Le nom saisi est invalide !</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Adresse</mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuillez entrer votre modification"
          required
          id="adr"
          [(ngModel)]="currentClient.adresse"
          formControlName="adresse"
          [ngClass]="{ 'is-invalid': submitted && f['adresse'].errors }"
        />
        <mat-error *ngIf="f['adresse'].errors" class="text-danger">
          <div *ngIf="f['adresse'].errors['required']">
            le champ adresse est obligatoire !
          </div>
          <div *ngIf="f['adresse'].errors['pattern']">
            l'adresse est invalide !
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Numéro de téléphone</mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuillez entrer votre modification"
          required
          id="numtel"
          [(ngModel)]="currentClient.numtel"
          formControlName="phone"
          [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }"
        />
        <mat-error *ngIf="f['phone'].errors" class="text-danger">
          <div *ngIf="f['phone'].errors['required']">
            Le champ numéro de téléphone est obligatoire !
          </div>
          <div *ngIf="f['phone'].errors['pattern']">
            Le numéro de téléphone saisi est invalide !
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Courriel</mat-label>
        <input
          matInput
          type="email"
          placeholder="Veuillez entrer votre modification"
          required
          id="cour"
          [(ngModel)]="currentClient.courriel"
          formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
        />
        <mat-error *ngIf="submitted && f['email'].errors" class="text-danger">
          <div *ngIf="f['email'].errors['required']">
            Le champ courriel est obligatoire !
          </div>
          <span *ngIf="f['email'].errors['pattern']"
            >Le courriel saisi est invalide !</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Site web</mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuillez entrer votre modification"
          id="siteweb"
          [(ngModel)]="currentClient.siteweb"
          formControlName="website"
          [ngClass]="{ 'is-invalid': submitted && f['website'].errors }"
        />
        <mat-error *ngIf="f['website'].errors" class="text-danger">
          <div *ngIf="f['website'].errors['pattern']">
            le site web saisi est invalide !
          </div>
        </mat-error>
      </mat-form-field>
      <div>
        &nbsp;
        <button
          mat-button
          class="btn btn-danger fw-normal"
          (click)="annuler()"
          type="submit"
          style="float: right; margin-left: 0.3%"
        >
          Annuler
        </button>
        <button
          mat-button
          class="btn btn-success fw-normal"
          (click)="updateClient()"
          type="submit"
          style="float: right"
        >
          Confirmer
        </button>
        <p>{{ message }}</p>
      </div>
    </form>
  </mat-card-content>
</mat-card>
