<div class="card">
    <div class="card-body">
      <h4 class="mb-32">Ajoutez une devise</h4>
      <form [formGroup]="deviseForm" (ngSubmit)="onSubmit()">
            <mat-form-field
              class="w-100 fs-16"
              appearance="outline"
              style="margin-right: 16px"
            >
              <mat-label>Nom devise</mat-label>
              <mat-select
                name="nom"
                formControlName="nom"
                [ngClass]="{ 'is-invalid': submitted && f['nom'].errors }"
                [(ngModel)]="devise.nom"
              >
                <mat-option *ngFor="let nom of noms" [value]="nom.value">
                  {{ nom.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f['nom'].errors" class="text-danger">
                <div *ngIf="f['nom'].errors['required']">
                  Le champ nom est obligatoire !
                </div>
                <span *ngIf="f['nom'].errors['pattern']"
                  >Le nom saisi est invalide !</span
                >
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 fs-16" appearance="outline">
              <mat-label>Code</mat-label>
              <mat-select
                name="code"
                formControlName="devise"
                [ngClass]="{ 'is-invalid': submitted && f['devise'].errors }"
                [(ngModel)]="devise.devise"
              >
                <mat-option *ngFor="let valeur of valeurs" [value]="valeur.value">
                  {{ valeur.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f['devise'].errors" class="text-danger">
                <div *ngIf="f['devise'].errors['required']">
                  Le champ devise est obligatoire !
                </div>
                <span *ngIf="f['devise'].errors['pattern']"
                  >Le devise saisie est invalide !</span
                >
              </mat-error>
            </mat-form-field>
        &nbsp;
        <button
          mat-button
          class="btn btn-success fw-normal"
          style="float: right"
          (click)="saveDevise()"
          type="submit"
        >
          Confirmer
        </button><div
        class="alert alert-danger alert-text-danger d-flex fs-14"
        style="width: 354px"
        role="alert"
        *ngIf="errorAddDevise"
      >
        <i-feather
          name="alert-circle"
          class="text-danger feather-base me-12"
        ></i-feather>
        {{ errorMsg }}
      </div>
      </form>
    </div>
  </div>
  