<mat-card class="w-100">
  <mat-card-content>
    <div *ngIf="search" class="search-section d-flex align-items-center">
      <mat-form-field class="w-100" color="primary" appearance="legacy">
        <mat-label class="fs-16">Recherchez ici</mat-label>
        <input
          matInput
          placeholder="Veuillez taper un mot clé"
          autocomplete="off"
          (keyup)="filterData($event)"
        />
      </mat-form-field>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"></li>
      </ul>
      <button mat-icon-button (click)="search = !search">
        <i-feather
          name="x-circle"
          class="mt-n3 text-light-muted feather-base text-dark cancel-btn"
        ></i-feather>
      </button>
    </div>
    <button
      mat-button
      class="btn btn-info fw-normal btnw"
      routerLink="/add-account"
      type="submit"
      style="float: right"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-button
      class="btn btn-danger fw-normal"
      style="float: right; margin-right: 0.142%"
      (click)="removeAllBankAccounts()"
    >
      Supprimer Tout
    </button>
    <button
      mat-icon-button
      class="ms-4 me-4"
      style="float: right"
      (click)="search = !search"
    >
      <i-feather
        name="search"
        class="mt-n3 text-light-muted feather-base text-dark"
      ></i-feather>
    </button>
    <h4 class="mb-56">Gérez vos comptes banncaires</h4>

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
        <ng-container matColumnDef="numcompte">
          <th mat-header-cell *matHeaderCellDef>Numéro de compte</th>
          <td mat-cell *matCellDef="let account">
            <p class="mb-0 fw-medium">{{ account.num_compte }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="rib">
          <th mat-header-cell *matHeaderCellDef>RIB</th>
          <td mat-cell *matCellDef="let account">
            <p class="mb-0 fw-medium">{{ account.rib }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="bic">
          <th mat-header-cell *matHeaderCellDef>BIC</th>
          <td mat-cell *matCellDef="let account">
            <p class="mb-0 fw-medium">{{ account.bic }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="nombanque">
          <th mat-header-cell *matHeaderCellDef>Nom de la banque</th>
          <td mat-cell *matCellDef="let account">
            <p class="mb-0 fw-medium">{{ account.nom_banque }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="iban">
          <th mat-header-cell *matHeaderCellDef>IBAN</th>
          <td mat-cell *matCellDef="let account">
            <p class="mb-0 fw-medium">{{ account.iban }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td
            mat-cell
            *matCellDef="let account; let i = index"
            [class.active]="i == currentIndex"
          >
            <button
              mat-button
              class="btn btn-success fw-normal btnw"
              style="margin-right: 1%"
              type="submit"
              (click)="setActiveBankAccount(account, i)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-button
              class="btn btn-danger fw-normal btnw"
              style="margin-right: 1%"
              type="submit"
              (click)="deleteBankAccount(account)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        #paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        [showFirstLastButtons]="true"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="w-100" *ngIf="disabelModif">
  <mat-card-content>
    <form [formGroup]="bankAccForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Numéro de compte </mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuillez entrer votre modification"
          id="username"
          [(ngModel)]="currentBankAccount.num_compte"
          formControlName="numcompte"
          [ngClass]="{ 'is-invalid': f['numcompte'].errors }"
        />
        <mat-error *ngIf="f['numcompte'].errors" class="text-danger">
          <div *ngIf="f['numcompte'].errors['required']">
            Le champ Numéro de compte est obligatoire
          </div>
          <div *ngIf="f['numcompte'].errors['pattern']">
            Le numéro de compte saisi est invalide
          </div>
          <div *ngIf="f['numcompte'].errors['maxlength']">Max 34</div>
          <div *ngIf="f['numcompte'].errors['minlength']">Min 14</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>RIB</mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuillez entrer votre modification"
          required
          id="adr"
          [(ngModel)]="currentBankAccount.rib"
          formControlName="rib"
          [ngClass]="{ 'is-invalid': f['rib'].errors }"
        />
        <mat-error *ngIf="f['rib'].errors" class="text-danger">
          <div *ngIf="f['rib'].errors['required']">
            Le champ RIB est obligatoire
          </div>
          <div *ngIf="f['rib'].errors['pattern']">
            Le RIB saisi est invalide
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>BIC</mat-label>
        <input
          matInput
          type="email"
          placeholder="Veuillez entrer votre modification"
          required
          id="cour"
          [(ngModel)]="currentBankAccount.bic"
          formControlName="bic"
          [ngClass]="{ 'is-invalid': f['bic'].errors }"
        />
        <mat-error *ngIf="f['bic'].errors" class="text-danger">
          <div *ngIf="f['bic'].errors['required']">
            Le champ BIC est obligatoire
          </div>
          <div *ngIf="f['bic'].errors['pattern']">
            Le BIC saisi est invalide
          </div>
          <div *ngIf="f['bic'].errors['maxlength']">
            Le numéro de compte saisi doit avoir 8 caractères au minimum
          </div>
          <div *ngIf="f['bic'].errors['minlength']">
            Le numéro de compte saisi peut avoir 11 caractères au maximum
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>IBAN</mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuillez entrer votre modification"
          required
          id="siteweb"
          [(ngModel)]="currentBankAccount.iban"
          formControlName="iban"
          [ngClass]="{ 'is-invalid': f['iban'].errors }"
        />
        <mat-error *ngIf="f['iban'].errors" class="text-danger">
          <div *ngIf="f['iban'].errors['required']">
            Le champ IBAN est obligatoire
          </div>
          <span *ngIf="f['iban'].errors['iban']"
            >Le IBAN saisi est invalide</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Nom de la banque</mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuillez entrer votre modification"
          required
          id="nbc"
          [(ngModel)]="currentBankAccount.nom_banque"
          formControlName="nomBanque"
          [ngClass]="{ 'is-invalid': f['nomBanque'].errors }"
        />
        <mat-error *ngIf="f['nomBanque'].errors" class="text-danger">
          <div *ngIf="f['nomBanque'].errors['required']">
            Le champ nom de banque est obligatoire
          </div>
          <div *ngIf="f['nomBanque'].errors['pattern']">
            Le nom de banque saisi est invalide
          </div>
        </mat-error>
      </mat-form-field>

      <div>
        &nbsp;
        <button
          mat-button
          class="btn btn-danger fw-normal"
          (click)="annuler()"
          type="submit"
          style="float: right; margin-left: 0.3%"
        >
          Annuler
        </button>
        <button
          mat-button
          class="btn btn-success fw-normal"
          (click)="updateBankAccount()"
          type="submit"
          style="float: right"
        >
          Confirmer
        </button>
        <p>{{ message }}</p>
      </div>
    </form>
  </mat-card-content>
</mat-card>
