
<mat-card class="w-100">
  <mat-card-content>
    <button
      mat-button
      class="btn btn-info fw-normal btnw"
      routerLink="/add-account"
      type="submit"
      style="float: right"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-button
      class="btn btn-danger fw-normal"
      style="float: right; margin-right: 0.142%"
      (click)="removeAllBankAccounts()"
    >
      Supprimer Tout
    </button>
    <h4 class="mb-56">Gérez vos comptes banncaires</h4>

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
        <ng-container matColumnDef="numcompte">
          <th mat-header-cell *matHeaderCellDef>numéro de compte</th>
          <td mat-cell *matCellDef="let account">
            <p class="mb-0 fw-medium">{{ account.num_compte }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="titcompte">
          <th mat-header-cell *matHeaderCellDef>Titulaire du compte</th>
          <td mat-cell *matCellDef="let account">
            <p class="mb-0 fw-medium">{{ account.tit_compte }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="rib">
          <th mat-header-cell *matHeaderCellDef>RIB</th>
          <td mat-cell *matCellDef="let account">
            <p class="mb-0 fw-medium">{{ account.rib }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="bic">
          <th mat-header-cell *matHeaderCellDef>BIC</th>
          <td mat-cell *matCellDef="let account">
            <p class="mb-0 fw-medium ">{{ account.bic }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="devise">
          <th mat-header-cell *matHeaderCellDef>Devise</th>
          <td mat-cell *matCellDef="let account">
            <p class="mb-0 fw-medium">{{ account.devise }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="nombanque">
          <th mat-header-cell *matHeaderCellDef>Nom de la banque</th>
          <td mat-cell *matCellDef="let account">
            <p class="mb-0 fw-medium ">{{ account.nom_banque }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="iban">
          <th mat-header-cell *matHeaderCellDef>IBAN</th>
          <td mat-cell *matCellDef="let account">
            <p class="mb-0 fw-medium">{{ account.iban }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let account; let i = index" [class.active]="i == currentIndex" >
            <button
              mat-button
              class="btn btn-success fw-normal btnw"
              style="margin-right: 1%"
              type="submit"
              (click)="setActiveBankAccount(account, i)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-button
              class="btn btn-danger fw-normal btnw"
              style="margin-right: 1%"
              type="submit"
              (click)="deleteBankAccount(account)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="w-100" *ngIf="disabelModif">
  <mat-card-content>
    <form>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Numéro de compte </mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuillez entrer votre modification"
          id="username"
          [(ngModel)]="currentBankAccount.num_compte"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>RIB</mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuillez entrer votre modification"
          required
          id="adr"
          [(ngModel)]="currentBankAccount.rib"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Titulaire du compte</mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuillez entrer votre modification"
          required
          id="numtel"
          [(ngModel)]="currentBankAccount.tit_compte"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>BIC</mat-label>
          <input
            matInput
            type="email"
            placeholder="Veuillez entrer votre modification"
            required
            id="cour"
            [(ngModel)]="currentBankAccount.bic"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>IBAN</mat-label>
          <input
            matInput
            type="text"
            placeholder="Veuillez entrer votre modification"
            required
            id="siteweb"
            [(ngModel)]="currentBankAccount.iban"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Nom de la banque</mat-label>
          <input
            matInput
            type="text"
            placeholder="Veuillez entrer votre modification"
            required
            id="nbc"
            [(ngModel)]="currentBankAccount.nom_banque"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
       

      <div>
        &nbsp;
        <button
          mat-button
          class="btn btn-success fw-normal"
          (click)="updateBankAccount()"
          type="submit"
          style="float: right"
        >
          Confirmer
        </button>
        <p>{{ message }}</p>
      </div>
    </form>
  </mat-card-content>
</mat-card>
