<mat-card class="w-100">
  <mat-card-content>
    <button
      mat-button
      class="btn btn-info fw-normal btnw"
      routerLink="/add-account"
      type="submit"
      style="float: right"
      matTooltip="Ajouter un compte bancaire"
      matTooltipPosition="above"
      *ngIf="!showObserverBoard"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-button
      class="btn btn-secondary fw-normal btnw"
      routerLink="/archive-accounts"
      type="submit"
      matTooltip="Consulter  l'archive"
      matTooltipPosition="above"
      style="float: right; margin-right: 0.142%"
    >
      Archive
    </button>
    <button
      mat-icon-button
      class="ms-4 me-4"
      style="float: right"
      (click)="search = !search"
    >
      <i-feather
        name="search"
        class="mt-n3 text-light-muted feather-base text-dark"
      ></i-feather>
    </button>
    <h4 class="mb-56" *ngIf="!showObserverBoard">Gérez les comptes bancaires</h4>
    <h4 class="mb-56" *ngIf="showObserverBoard">Consultez les comptes bancaires</h4>
    
    <div *ngIf="search" class="search-section d-flex align-items-center">
      <mat-form-field class="w-100" color="primary" appearance="legacy">
        <mat-label class="fs-16">Recherchez ici</mat-label>
        <input matInput
        placeholder="Veuillez taper un mot clé"
        autocomplete="off"
        (keyup)="filterData($event)">
      </mat-form-field>
      <button mat-icon-button (click)="search=!search">
        <i-feather name="x-circle" class="mt-n3 text-light-muted feather-base text-dark"></i-feather>
      </button>
    </div>  

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
        <ng-container matColumnDef="numcompte">
          <th mat-header-cell *matHeaderCellDef>Numéro de compte</th>
          <td mat-cell *matCellDef="let account">
            <p class="mb-0 fw-medium">{{ account.num_compte }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="rib">
          <th mat-header-cell *matHeaderCellDef>RIB</th>
          <td mat-cell *matCellDef="let account">
            <p class="mb-0 fw-medium">{{ account.rib }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="bic">
          <th mat-header-cell *matHeaderCellDef>BIC</th>
          <td mat-cell *matCellDef="let account">
            <p class="mb-0 fw-medium">{{ account.bic }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="nombanque">
          <th mat-header-cell *matHeaderCellDef>Nom de la banque</th>
          <td mat-cell *matCellDef="let account">
            <p class="mb-0 fw-medium">{{ account.nom_banque }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="iban">
          <th mat-header-cell *matHeaderCellDef>IBAN</th>
          <td mat-cell *matCellDef="let account">
            <p *ngIf="account.iban!= ''" class="mb-0 fw-medium">{{ account.iban}}</p>
            <p *ngIf="account.iban== ''" class="mb-0 fw-medium">-</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="nomdevise">
          <th mat-header-cell *matHeaderCellDef>Devise</th>
          <td mat-cell *matCellDef="let account">
            <p class="mb-0 fw-medium">{{ account.nom_devise }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef [hidden]="showObserverBoard">Actions</th>
          <td
            mat-cell
            *matCellDef="let account; let i = index"
            [class.active]="i == currentIndex"
          >
          <button mat-icon-button [matMenuTriggerFor]="menu4" *ngIf="!showObserverBoard">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu4="matMenu">
            <button
              mat-menu-item
              (click)="archiveBankAccount(account)"
            >
              <mat-icon>archive</mat-icon>
              <span>Archiver</span>
            </button>
            <button
              mat-menu-item
              (click)="setActiveBankAccount(account, i)"
            >
              <mat-icon>edit</mat-icon>
              <span>Modifier</span>
            </button>
            <button
              mat-menu-item
              (click)="deleteBankAccount(account)"
            >
              <mat-icon>delete</mat-icon>
              <span>Supprimer</span>
            </button>
          </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        #paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20,30,50,100]"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="w-100" *ngIf="disabelModif">
  <mat-card-content>
    <form [formGroup]="bankAccForm" (ngSubmit)="onSubmit()">
      <h4 class="mb-56">Compte bancaire avec le numéro: {{currentBankAccount.num_compte}}</h4>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Nom de la banque</mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuillez entrer votre modification"
          required
          id="nbc"
          [(ngModel)]="currentBankAccount.nom_banque"
          formControlName="nomBanque"
          [ngClass]="{ 'is-invalid': f['nomBanque'].errors }"
        />
        <mat-error *ngIf="f['nomBanque'].errors" class="text-danger">
          <div *ngIf="f['nomBanque'].errors['required']">
            Le champ nom de banque est obligatoire
          </div>
          <div *ngIf="f['nomBanque'].errors['pattern']">
            Le nom de banque saisi est invalide
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Devise</mat-label>
        <mat-select placeholder="Selectionnez une devise" [(ngModel)]="currentBankAccount.nom_devise" [ngModelOptions]=" {standalone: true}"  required>
          <mat-option *ngFor="let devise of devises;" [value]="devise.nom" >{{ devise.nom }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        &nbsp;
        <button
          mat-button
          class="btn btn-danger fw-normal"
          (click)="annuler()"
          type="submit"
          style="float: right; margin-left: 0.3%"
          
        >
          Annuler
        </button>
        <button
          mat-button
          class="btn btn-success fw-normal"
          (click)="updateBankAccount()"
          type="submit"
          style="float: right"
        >
          Sauvegarder
        </button>
        <div 
        class="alert alert-danger alert-text-danger d-flex fs-14 " style="width: 500px;"
        role="alert" *ngIf="errorUpdateAccount">
        <i-feather name="alert-circle" class="text-danger feather-base me-12"></i-feather>
        {{ errorMsg }}
      </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
