<mat-card class="w-100">
  <mat-card-content>
    <button
      mat-button
      class="btn btn-info fw-normal"
      type="submit"
      style="float: right"
      *ngIf="!showObserverBoard"

      matTooltip="Ajouter un article"
      matTooltipPosition="above"

      [matMenuTriggerFor]="menu">

      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="profile-dropdown">
      <div class="p-16 mb-4">
        <button mat-menu-item class="fs-16" routerLink="/add-article">
          Ajouter un article
        </button>
        <button mat-menu-item class="fs-16" routerLink="/add-prix">
          Ajouter un prix pour un article
        </button>
      </div>
    </mat-menu>
    <button
      mat-button
      class="btn btn-primary fw-normal"
      matTooltip="Exporter en Excel"
      matTooltipPosition="above"
      style="float: right; margin-right: 0.142%"
      (click)="exportexcel()"
      *ngIf="!showObserverBoard"
    >
      <mat-icon>save_alt</mat-icon>
    </button>
    <button
      mat-button
      class="btn btn-danger fw-normal disabled"
      style="float: right; margin-right: 0.142%"
      (click)="removeAllArticles()"
      *ngIf="!showObserverBoard"
      matTooltip="Supprimer tous les articles"
      matTooltipPosition="above"
    >
      Supprimer Tout
    </button>
    <button
      mat-icon-button
      class="ms-4 me-4"
      style="float: right"
      (click)="search = !search"
    >
      <i-feather
        name="search"
        class="mt-n3 text-light-muted feather-base text-dark"
      ></i-feather>
    </button>
    <h4 class="mb-56" *ngIf="!showObserverBoard">Gérez les articles</h4>
    <h4 class="mb-56" *ngIf="showObserverBoard">Consultez les articles</h4>
    <div *ngIf="search" class="search-section d-flex align-items-center">
      <mat-form-field class="w-100" color="primary" appearance="legacy">
        <mat-label class="fs-16">Recherchez ici</mat-label>
        <input matInput
        placeholder="Veuillez taper un mot clé"
        autocomplete="off"
        (keyup)="filterData($event)">
      </mat-form-field>
      <button mat-icon-button (click)="search=!search">
        <i-feather name="x-circle" class="mt-n3 text-light-muted feather-base text-dark"></i-feather>
      </button>
    </div>  

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
        <!-- Colonne Nom -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>Nom article</th>
          <td mat-cell *matCellDef="let article">
            <p class="mb-0 fw-medium">{{ article.nom_article }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="type_article">
          <th mat-header-cell *matHeaderCellDef>Type de l'article</th>
          <td mat-cell *matCellDef="let article">
            <p class="mb-0 fw-medium">{{ article.type_article }}</p>
          </td>
        </ng-container>

        <!-- Colonne Prix -->
        <ng-container matColumnDef="prix">
          <th mat-header-cell *matHeaderCellDef>Prix de vente (DT)</th>
          <td mat-cell *matCellDef="let article">
            <p class="mb-0 fw-medium">{{ article.prix[0]?.prix }}</p>
          </td>
        </ng-container>

        <!-- Colonne Coût -->
        <ng-container matColumnDef="cout">
          <th mat-header-cell *matHeaderCellDef>Coût (DT)</th>
          <td mat-cell *matCellDef="let article">
            <p class="mb-0 fw-medium">{{ article.cout }}</p>
          </td>
        </ng-container>

        <!-- Colonne Description -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let article">
            <p class="mb-0 fw-medium">{{ article.description }}</p>
          </td>
        </ng-container>

        <!-- Colonne Actions -->
        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef [hidden]="showObserverBoard">
            Actions
          </th>
          <td
            mat-cell
            *matCellDef="let article; let i = index"
            [class.active]="i == currentIndex"
          >
            <button
              mat-button
              *ngIf="!showObserverBoard"
              class="btn btn-success fw-normal btnw disabled"
              style="margin-right: 1%"
              type="submit"
              (click)="setActiveArticle(article, i)"
              matTooltip="Modifier un article"
              matTooltipPosition="above"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-button
              *ngIf="!showObserverBoard"
              class="btn btn-danger fw-normal btnw disabled"
              style="margin-right: 1%"
              type="submit"
              (click)="deletePrixArticle(article)"
              matTooltip="Supprimer un article"
              matTooltipPosition="above"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        #paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20, 30, 50, 100]"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
<mat-card id="update_card" class="w-100" *ngIf="disabelModif">
  <mat-card-content>
    <form [formGroup]="updateArticleForm" (ngSubmit)="onSubmit()">
      <h4 class="mb-56">{{currentPrixArticle.nom_article}}</h4>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Type article</mat-label>
        <mat-select
              name="type_article"
              required
              formControlName="type_article"
              [ngClass]="{ 'is-invalid': submitted && f['type_article'].errors }"
              [value]="currentPrixArticle.type_article"
            >
              <mat-option *ngFor="let type of types" [value]="type.value">
                {{ type.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="f['type_article'].errors" class="text-danger">
              <div *ngIf="f['type_article'].errors['required']">Le champ type est obligatoire</div>
            </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Coût</mat-label>
        <input
          matInput
          type="number"
          placeholder="Veuillez entrer votre modification"
          formControlName="cout"
          [ngClass]="{ 'is-invalid': submitted && f['cout'].errors }"
          required
          id="cout"
          [value]="currentPrixArticle.cout"
        />
        <mat-error *ngIf="f['cout'].errors" class="text-danger">
          <div *ngIf="f['cout'].errors['required']">
            Le champ coût est obligatoire
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          type="text"
          placeholder="Veuillez entrer votre modification"
          formControlName="description"
          [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"
          required
          id="description"
          [value]="currentPrixArticle.description"
        ></textarea>
        <mat-error *ngIf="f['description'].errors" class="text-danger">
          <div *ngIf="f['description'].errors['required']">
            Le champ description est obligatoire
          </div>
          <div *ngIf="f['description'].errors['pattern']">
            La description saisie est invalide
          </div>
        </mat-error>
      </mat-form-field>

      <div>
        &nbsp;
        <button
          mat-button
          class="btn btn-danger fw-normal"
          (click)="annuler()"
          type="submit"
          style="float: right; margin-left: 0.3%"
        >
          Annuler
        </button>
        <button
          mat-button
          class="btn btn-success fw-normal"
          (click)="updateArticle()"
          type="submit"
          style="float: right"
        >
          Confirmer
        </button>
        <p>{{ message }}</p>
      </div>
    </form>
  </mat-card-content>
</mat-card>
