<mat-card class="w-100">
  <mat-card-content>
    <button
      mat-button
      class="btn btn-info fw-normal"
      routerLink="/add-article"
      type="submit"
      style="float: right"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-button
      class="btn btn-danger fw-normal"
      style="float: right; margin-right: 0.142%"
      (click)="removeAllArticles()"
    >
      Supprimer Tout
    </button>
    <h4 class="mb-56">Gérez vos articles</h4>

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
        <!-- Id Column -->
        <ng-container matColumnDef="ref_article">
          <th mat-header-cell *matHeaderCellDef>Référence article</th>
          <td mat-cell class="fw-medium" *matCellDef="let article">
            {{ article.ref_article }}
          </td>
        </ng-container>

        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Image</th>
          <td mat-cell class="fw-medium" *matCellDef="let article">
            {{ article.image }}
          </td>
        </ng-container>

        <!-- Assigned Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>Nom article</th>
          <td mat-cell *matCellDef="let article">
            <p class="mb-0 fw-medium">{{ article.nom_article }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="type_article">
          <th mat-header-cell *matHeaderCellDef>Type de l'article</th>
          <td mat-cell *matCellDef="let article">
            <p class="mb-0 fw-medium">{{ article.type_article }}</p>
          </td>
        </ng-container>

        <!-- Project Column -->
        <ng-container matColumnDef="prix">
          <th mat-header-cell *matHeaderCellDef>Prix de vente</th>
          <td mat-cell *matCellDef="let article">
            <p class="mb-0 fw-medium">{{ article.prix_vente }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="taxe">
          <th mat-header-cell *matHeaderCellDef>Taxe de vente</th>
          <td mat-cell *matCellDef="let article">
            <p class="mb-0 fw-medium">{{ article.taxe_vente }}</p>
          </td>
        </ng-container>

        <!-- Priority Column -->
        <ng-container matColumnDef="cout">
          <th mat-header-cell *matHeaderCellDef>Coût</th>
          <td mat-cell *matCellDef="let article">
            <p class="mb-0 fw-medium">{{ article.cout }}</p>
          </td>
        </ng-container>

        <!-- Budget Column -->
        <ng-container matColumnDef="unite">
          <th mat-header-cell *matHeaderCellDef>Unié de mesure</th>
          <td mat-cell *matCellDef="let article">
            <p class="mb-0 fw-medium">{{ article.unite_mesure }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let article">
              <p class="mb-0 fw-medium">{{ article.description }}</p>
            </td>
          </ng-container>
        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td
            mat-cell
            *matCellDef="let article; let i = index"
            [class.active]="i == currentIndex"
          >
            <button
              mat-button
              class="btn btn-success fw-normal btnw"
              style="margin-right: 1%"
              type="submit"
              (click)="setActiveArticle(article, i)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-button
              class="btn btn-danger fw-normal btnw"
              style="margin-right: 1%"
              type="submit"
              (click)="deleteArticle(article)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="w-100" *ngIf="disabelModif">
  <mat-card-content>
    <form>
        <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Référence article </mat-label>
            <input
              matInput
              type="text"
              placeholder="Veuillez entrer votre modification"
              id="ref"
              [(ngModel)]="currentArticle.ref_article"
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Image </mat-label>
            <input
              matInput
              type="text"
              placeholder="Veuillez entrer votre modification"
              id="image"
              [(ngModel)]="currentArticle.image"
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Nom article </mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuillez entrer votre modification"
          id="nom"
          [(ngModel)]="currentArticle.nom_article"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Type article</mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuillez entrer votre modification"
          required
          id="type"
          [(ngModel)]="currentArticle.type_article"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Prix vente</mat-label>
        <input
          matInput
          type="number"
          placeholder="Veuillez entrer votre modification"
          required
          id="prix"
          [(ngModel)]="currentArticle.prix_vente"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Taxe vente</mat-label>
        <input
          matInput
          type="number"
          placeholder="Veuillez entrer votre modification"
          required
          id="taxe"
          [(ngModel)]="currentArticle.taxe_vente"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Coût</mat-label>
        <input
          matInput
          type="number"
          placeholder="Veuillez entrer votre modification"
          required
          id="cout"
          [(ngModel)]="currentArticle.cout"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Unité de mesure</mat-label>
        <input
          matInput
          type="number"
          placeholder="Veuillez entrer votre modification"
          required
          id="unite"
          [(ngModel)]="currentArticle.unite_mesure"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Description</mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuillez entrer votre modification"
          required
          id="dp"
          [(ngModel)]="currentArticle.description"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>

      <div>
        &nbsp;
        <button
          mat-button
          class="btn btn-success fw-normal"
          (click)="updateArticle()"
          type="submit"
          style="float: right"
        >
          Confirmer
        </button>
        <p>{{ message }}</p>
      </div>
    </form>
  </mat-card-content>
</mat-card>
