.mat-card-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #00c292
}

#card-container {
    max-width: 70%;
}

#card-inside {
    background-color: #ffffff;
}

.card-body {
    text-align: center;
    width : 300px;
    height: 200px;
}

.card-body-cnx {
    text-align: center;
    width : 600px;
}
.center-pos{
     display: flex;
    justify-content: center;
    align-items: center;
}


.card-body .mb-32 {
    color: #ffffff;
    vertical-align: middle;
}

#button {
    background-color: #00c292;
    margin-top : 20px;
}
.forgotmdp:hover{
    color: #00c292;
}