<mat-card>
  <mat-card-content>
    <h4 class="mb-32">chiffre d'affaires(DT)/Année</h4>

    <apx-chart [series]="series" [dataLabels]="dataLabels" [chart]="chart" [legend]="legend" [xaxis]="xaxis"
      [grid]="grid" [stroke]="stroke" [tooltip]="tooltip" [plotOptions]="plotOptions"></apx-chart>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <h4 class="mb-32">chiffre d'affaires(DT)/Client</h4>

    <apx-chart [series]="seriesClt" [dataLabels]="dataLabelsClt" [chart]="chartClt" [legend]="legendClt" [xaxis]="xaxisClt"
      [grid]="gridClt" [stroke]="strokeClt" [tooltip]="tooltipClt" [plotOptions]="plotOptionsClt" ></apx-chart>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <h4 class="mb-32">chiffre d'affaires(DT)/Article</h4>
    <apx-chart [series]="seriesArt" [dataLabels]="dataLabelsArt" [chart]="chartArt" [legend]="legendArt" [xaxis]="xaxisArt"
      [grid]="gridArt" [stroke]="strokeArt" [tooltip]="tooltipArt" [plotOptions]="plotOptionsArt"></apx-chart>
  </mat-card-content>
</mat-card>
