<mat-card class="w-100">
  <mat-card-content>
    <div class="container" *ngIf="currentUser; else loggedOut">
      <button
      mat-button
      class="btn btn-info fw-normal"
      (click)="editDetails()"
      type="submit"
      style="float: right"
    >
    <mat-icon>edit</mat-icon>
    </button>
      <header class="jumbotron">
        <h3>
          Détails généraux
        </h3>
      </header>
      <p>
        <mat-icon style="font-size: 20px; float: left;">person</mat-icon><strong>Nom d'utilisateur:</strong>
        {{ currentUser.username }}
      </p>
      <p>
        <mat-icon style="font-size: 20px; float: left;">email</mat-icon><strong>Email:</strong>
        {{ currentUser.email }}
      </p>
      <p>
        <mat-icon style="font-size: 20px; float: left;">badge</mat-icon><strong>Rôle:</strong>
        {{ currentUser.role }}
      </p>
    </div>
    <ng-template #loggedOut> Veuillez vous connecter. </ng-template>
  </mat-card-content>
</mat-card>

<mat-card class="w-100" *ngIf="disabelModifDetails">
  <mat-card-content>
    <form>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Nom d'utilisateur</mat-label>
        <input
          matInput
          type="text"
          placeholder="Entrez le nom d'utilisateur"
          id="username"
          [(ngModel)]="currentUser.username"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Entrez l'email"
          required
          id="email"
          [(ngModel)]="currentUser.email"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>

      <div>
        &nbsp;
        <button
          mat-button
          class="btn btn-danger fw-normal"
          (click)="annulerDetails()"
          type="submit"
          style="float: right; margin-left: 0.3%;"
        >
          Annuler
        </button>
        <button
          mat-button
          class="btn btn-success fw-normal"
          (click)="updateUser()"
          type="submit"
          style="float: right"
        >
          Confirmer
        </button>
        
        <p>{{ message }}</p>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="w-100">
  <mat-card-content>
    <div class="container" *ngIf="currentUser; else loggedOut">
      <header class="jumbotron">
        <h3>
          Login
        </h3>
      </header>
      <p>
        <mat-icon style="font-size: 20px; float: left;">lock</mat-icon><strong>Changer mot de passe</strong>
        <button
      mat-button
      class="btn btn-info fw-normal btnw"
      (click)="editPassword()"
      type="submit"
      style="float: right"
    >
    <mat-icon>edit</mat-icon>
    </button>
      </p>
    </div>
    <ng-template #loggedOut> Veuillez vous connecter. </ng-template>
  </mat-card-content>
</mat-card>

<mat-card class="w-100" *ngIf="disabelModifPassword">
  <mat-card-content>
    <form>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Mot de passe actuel</mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuiller entrer le mot de passe actuel"
          required
          id="username"
        />
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Nouveau mot de passe</mat-label>
        <input
          matInput
          type="text"
          placeholder="Veuillez entrer le nouveau mot de passe"
          [(ngModel)]="user.password"
          [ngModelOptions]="{ standalone: true }"
          required
          id="email"
        />
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Confirmer le mot de passe</mat-label>
        <input
          matInput
          type="text"
          placeholder="Confirmez le mot de passe"
          required
          id="email"
        />
      </mat-form-field>

      <div>
        &nbsp;
        <button
          mat-button
          class="btn btn-danger fw-normal"
          (click)="annulerPassword()"
          type="submit"
          style="float: right; margin-left: 0.3%;"
        >
          Annuler
        </button>
        <button
          mat-button
          class="btn btn-success fw-normal"
          (click)="updatePassword()"
          type="submit"
          style="float: right"
        >
          Confirmer
        </button>
        
        <p>{{ message }}</p>
      </div>
    </form>
  </mat-card-content>
</mat-card>