<mat-card class="w-100">
  <mat-card-content>
    <div class="container" *ngIf="currentUser; else loggedOut">
      <button
      mat-button
      class="btn btn-info fw-normal"
      type="submit"
      style="float: right"
    >
    <mat-icon>edit</mat-icon>
    </button>
      <header class="jumbotron">
        <h3>
          Votre profile
        </h3>
      </header>
      <h4>
        Détails
      </h4>
      <p>
        <strong>Nom d'utilisateur:</strong>
        {{ currentUser.username }}
      </p>
      <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
      </p>
      <p>
        <strong>Rôle:</strong>
        {{ currentUser.role }}
      </p>
    </div>
    <ng-template #loggedOut> Veuillez vous connecter. </ng-template>
  </mat-card-content>
</mat-card>

<mat-card class="w-100" *ngIf="disabelModif">
  <mat-card-content>
    <form>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Nom d'utilisateur</mat-label>
        <input
          matInput
          type="text"
          placeholder="Entrez le nom d'utilisateur"
          id="username"
          [(ngModel)]="currentUser.username"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Entrez l'email"
          required
          id="email"
          [(ngModel)]="currentUser.email"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Rôle</mat-label>
        <input
          matInput
          type="role"
          placeholder="Entrez le role"
          required
          id="role"
          [(ngModel)]="currentUser.role"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>

      <div>
        &nbsp;
        <button
          mat-button
          class="btn btn-danger fw-normal"
          (click)="annuler()"
          type="submit"
          style="float: right; margin-left: 0.3%;"
        >
          Annuler
        </button>
        <button
          mat-button
          class="btn btn-success fw-normal"
          (click)="updateUser()"
          type="submit"
          style="float: right"
        >
          Confirmer
        </button>
        
        <p>{{ message }}</p>
      </div>
    </form>
  </mat-card-content>
</mat-card>