<mat-card class="w-100">
  <mat-card-content>
    <div class="container" *ngIf="currentUser.id; else loggedOut">
      <button
        mat-button
        class="btn btn-info fw-normal"
        (click)="editDetails()"
        type="submit"
        style="float: right"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <header class="jumbotron">
        <h3>Détails généraux</h3>
      </header>
      <p>
        <mat-icon style="font-size: 20px; float: left">person</mat-icon
        ><strong>Nom d'utilisateur:</strong>
        {{ currentUser.username }}
      </p>
      <p>
        <mat-icon style="font-size: 20px; float: left">email</mat-icon
        ><strong>Email:</strong>
        {{ currentUser.email }}
      </p>
      <p>
        <mat-icon style="font-size: 20px; float: left">badge</mat-icon
        ><strong>Rôle:</strong>
        {{ currentUser.role }}
      </p>
    </div>
    <ng-template #loggedOut> Veuillez vous connecter. </ng-template>
  </mat-card-content>
</mat-card>

<mat-card class="w-100" *ngIf="disabelModifDetails">
  <mat-card-content>
    <form [formGroup]="form1" (ngSubmit)="onSubmit1()">
      <mat-grid-list cols="2" rowHeight="5:1">
        <mat-grid-tile>
          <mat-form-field
            class="w-100 fs-16"
            appearance="outline"
            style="margin-right: 16px"
          >
            <mat-label>Nom d'utilisateur</mat-label>
            <input
              matInput
              type="text"
              placeholder="Entrez le nom d'utilisateur"
              formControlName="username"
              [ngClass]="{ 'is-invalid':  f1['username'].errors }"
              id="username"
              [(ngModel)]="currentUser.username"
            />
            <div
              *ngIf=" f1['username'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f1['username'].errors['required']">
                Le nom d'utilisateur est obligatoire
              </div>
              <div *ngIf="f1['username'].errors['pattern']">
                Le nom d'utilisateur ne peut pas contenir des caractères
                spéciaux
              </div>
            </div>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              formControlName="email"
              [ngClass]="{ 'is-invalid':  f1['email'].errors }"
              placeholder="Entrez l'email"
              required
              id="email"
              [(ngModel)]="currentUser.email"
            />
            <div
              *ngIf=" f1['email'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f1['email'].errors['required']">
                L'email est obligatoire
              </div>
              <div *ngIf="f1['email'].errors['email']">L'email est invalide</div>
            </div>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div>
        &nbsp;
        <button
          mat-button
          class="btn btn-danger fw-normal"
          (click)="annulerDetails()"
          type="submit"
          style="float: right; margin-left: 0.3%"
        >
          Annuler
        </button>
        <button
          mat-button
          class="btn btn-success fw-normal"
          type="submit"
          style="float: right"
        >
          Confirmer
        </button>

        <p>{{ message }}</p>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="w-100">
  <mat-card-content>
    <div class="container" *ngIf="currentUser; else loggedOut">
      <header class="jumbotron">
        <h3>Login</h3>
      </header>
      <p>
        <mat-icon style="font-size: 20px; float: left">lock</mat-icon
        ><strong>Changer mot de passe</strong>
        <button
          mat-button
          class="btn btn-info fw-normal btnw"
          (click)="editPassword()"
          type="submit"
          style="float: right"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </p>
    </div>
    <ng-template #loggedOut> Veuillez vous connecter. </ng-template>
  </mat-card-content>
</mat-card>

<mat-card class="w-100" *ngIf="disabelModifPassword">
  <mat-card-content>
    <form [formGroup]="form2" (submit)="onSubmit2()">
      <mat-grid-list cols="2" rowHeight="5:1">
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline" style="margin-right: 16px">
            <mat-label>Mot de passe actuel</mat-label>
            <input
              matInput
              type="password"
              class="form-control"
              placeholder="Veuiller entrer le mot de passe actuel"
              [(ngModel)]="currentPassword"
              [ngModelOptions]="{ standalone: true }"
              required
              id="currentPassword"
            />
            <mat-error
              *ngIf="f2['currentPassword'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f2['currentPassword'].errors['required']">
                Le mot de passe actuel est obligatoire
              </div>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Nouveau mot de passe</mat-label>
            <input
              matInput
              type="password"
              class="form-control"
              formControlName="password"
              [ngClass]="{ 'is-invalid':  f2['password'].errors }"
              placeholder="Veuillez entrer le nouveau mot de passe"
              [(ngModel)]="user.password"
              required
              id="password"
            />
            <mat-error
              *ngIf="f2['password'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f2['password'].errors['required']">
                Le nouveau mot de passe est obligatoire
              </div>
              <div *ngIf="f2['password'].errors['minlength']">
                Le mot de passe doit avoir au moins 6 caractères
              </div>
              <div *ngIf="f2['password'].errors['pattern']">
                Le nouveau mot de passe doit contenir des miniscule, des majuscules des
                chiffres, et des caractères spéciaux
              </div>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100 fs-16" appearance="outline" style="margin-right: 16px">
            <mat-label>Confirmer le mot de passe</mat-label>
            <input
              matInput
              type="password"
              class="form-control"
              formControlName="confirmPassword"
              [ngClass]="{
                'is-invalid':  f2['confirmPassword'].errors
              }"
              placeholder="Confirmez le mot de passe"
              required
              id="confirmPassword"
            />
            <mat-error
              *ngIf="f2['confirmPassword'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f2['confirmPassword'].errors['required']">
                La confirmation de mot de passe est obligatoire
              </div>
              <div *ngIf="f2['confirmPassword'].errors['matching']">
                La confirmation du nouveau mot de passe n'est pas compatible
              </div>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div>
        &nbsp;
        <button
          mat-button
          class="btn btn-danger fw-normal"
          (click)="annulerPassword()"
          type="button"
          style="float: right; margin-left: 0.3%"
        >
          Annuler
        </button>
        <button
          mat-button
          class="btn btn-success fw-normal"
          (click)="onSubmit2()"
          type="submit"
          style="float: right"
        >
          Confirmer
        </button>

        <p>{{ message }}</p>
      </div>
    </form>
  </mat-card-content>
</mat-card>
