<mat-card class="w-100">
    <mat-card-content>
      <div class="container" *ngIf="currentSociete.id">
        <button
        mat-button
        class="btn btn-info fw-normal"
        (click)="edit()"
        type="submit"
        style="float: right"
      >
      <mat-icon>edit</mat-icon>
      </button>
        <header class="jumbotron">
          <h3>
            Détails généraux
          </h3>
        </header>
        <mat-list>
          <h3 mat-subheader>Nom société</h3>
          <mat-list-item style="font-size: 17px;">
            <mat-icon mat-list-icon>business</mat-icon>
             <h5 mat-line>{{ currentSociete.nom_societe }}</h5>
             <p mat-line class="demo-2"> Tunsie </p>
             <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>
          <h3 mat-subheader>Numéro de téléphone</h3>
          <mat-list-item style="font-size: 17px;">
            <mat-icon mat-list-icon>phone</mat-icon>
             <h4 mat-line>{{ currentSociete.numtel }}</h4>
             <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>
          <h3 mat-subheader>Adresse</h3>
          <mat-list-item style="font-size: 17px;">
             <mat-icon mat-list-icon>note</mat-icon>
             <h4 mat-line>{{ currentSociete.adresse }}</h4>
             <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>
          <h3 mat-subheader>Email</h3>
          <mat-list-item style="font-size: 17px;">
             <mat-icon mat-list-icon>email</mat-icon>
             <h4 mat-line>{{ currentSociete.courriel }}</h4>
             <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>
          <h3 mat-subheader>Siteweb</h3>
          <mat-list-item style="font-size: 17px;">
             <mat-icon mat-list-icon>website</mat-icon>
             <h4 mat-line>{{ currentSociete.siteweb }}</h4>
             <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>
          <h3 mat-subheader>Type société</h3>
          <mat-list-item style="font-size: 17px;">
             <mat-icon mat-list-icon>details</mat-icon>
             <h4 mat-line>{{ currentSociete.type_societe }}</h4>
             <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>
          <h3 mat-subheader>Numéro RCS</h3>
          <mat-list-item style="font-size: 17px;">
             <mat-icon mat-list-icon>account_balance</mat-icon>
             <h4 mat-line>{{ currentSociete.num_rcs }}</h4>
             <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>
          <h3 mat-subheader>Timbre fiscal</h3>
          <mat-list-item style="font-size: 17px;">
             <mat-icon mat-list-icon>gradient</mat-icon>
             <h4 mat-line>{{ currentSociete.timbre_fiscale }}</h4>
             <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>
       </mat-list>
      </div>
      <ng-template #loggedOut> Veuillez vous connecter. </ng-template>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="w-100" *ngIf="disabelModif">
    <mat-card-content>
      <form>
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Nom de société</mat-label>
          <input
            matInput
            type="text"
            placeholder="Entrez le nom de la société"
            id="nom_societe"
            [(ngModel)]="currentSociete.nom_societe"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
  
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Logo</mat-label>
          <input
            matInput
            type="text"
            placeholder="Entrez le logo"
            required
            id="logo"
            [(ngModel)]="currentSociete.logo"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>

        <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Numéro téléphone</mat-label>
            <input
              matInput
              type="text"
              placeholder="Entrez le logo"
              required
              id="numtel"
              [(ngModel)]="currentSociete.numtel"
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>

          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Adresse</mat-label>
            <input
              matInput
              type="text"
              placeholder="Entrez l'adresse'"
              required
              id="adresse"
              [(ngModel)]="currentSociete.adresse"
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>

          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Courriel</mat-label>
            <input
              matInput
              type="email"
              placeholder="Entrez le courriel"
              required
              id="courriel"
              [(ngModel)]="currentSociete.courriel"
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>

          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Siteweb</mat-label>
            <input
              matInput
              type="text"
              placeholder="Entrez le siteweb"
              required
              id="siteweb"
              [(ngModel)]="currentSociete.siteweb"
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>

          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Type de société</mat-label>
            <input
              matInput
              type="text"
              placeholder="Entrez le type de société"
              required
              id="type_societe"
              [(ngModel)]="currentSociete.type_societe"
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>

          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Numéro RCS</mat-label>
            <input
              matInput
              type="text"
              placeholder="Entrez le numéro RCS"
              required
              id="num_rcs"
              [(ngModel)]="currentSociete.num_rcs"
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>

          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Timbre fiscale</mat-label>
            <input
              matInput
              type="number"
              placeholder="Entrez le logo"
              required
              id="timbre_fiscale"
              [(ngModel)]="currentSociete.timbre_fiscale"
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>
  
        <div>
          &nbsp;
          <button
            mat-button
            class="btn btn-danger fw-normal"
            (click)="annuler()"
            type="submit"
            style="float: right; margin-left: 0.3%;"
          >
            Annuler
          </button>
          <button
            mat-button
            class="btn btn-success fw-normal"
            (click)="updateSociete()"
            type="submit"
            style="float: right"
          >
            Confirmer
          </button>
          
          <p>{{ message }}</p>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <app-society-accounts></app-society-accounts>