<div class="main-div">
    <mat-card class="example-card">
      <div class="div-btn ">
        <img src="assets\images\fakterlogo.png" height="170px" width="170px">
  
      </div>
      
      <mat-card-title>Edition de mot de passe </mat-card-title>
      <mat-card-subtitle
        >Changez votre mot de passe oublié  !</mat-card-subtitle
      >
      <mat-card-content>
        <form [formGroup]="changeForgotPwForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input
              matInput
              type="email"
              placeholder="Veuillez entrer votre e-mail"
              formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
              [(ngModel)]="user.email"
              value="user.email"
            />
            <mat-error *ngIf="submitted && f['email'].errors" class="text-danger">
              <div *ngIf="f['email'].errors['required']">
                Le champ e-mail est obligatoire
              </div>
              <span *ngIf="f['email'].errors['email']"
                >L'e-mail saisi est invalide !</span
              >
            </mat-error>
          </mat-form-field>
         
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label for="password">Mot de passe</mat-label>
            <input
              matInput
              type="password"
              placeholder="Entrez le nouveau mot de passe"
              formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
              [(ngModel)]="user.password"
            />
            <mat-error *ngIf="f['password'].errors" class="invalid-feedback">
              <div *ngIf="f['password'].errors['required']">
                Le mot de passe est obligatoire
              </div>
              <div *ngIf="f['password'].errors['minlength']">
                Le mot de passe doit avoir au moins 6 caractères
              </div>
              <div *ngIf="f['password'].errors['pattern']">
                Le mot de passe doit contenir des miniscule, des majuscules des
                chiffres, et des caractères spéciaux
              </div>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label for="password">Confirmer Mot de passe</mat-label>
            <input
              matInput
              type="password"
              formControlName="confirmPassword"
              [ngClass]="{
                'is-invalid': submitted && f['confirmPassword'].errors
              }"
              placeholder="Entrez de nouveau le mot de passe"
            />
            <mat-error
              *ngIf="f['confirmPassword'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['confirmPassword'].errors['required']">
                La confirmation de mot de passe est obligatoire
              </div>
              <div *ngIf="f['confirmPassword'].errors['matching']">
                Les deux mots de passe ne sont pas compatible
              </div>
            </mat-error>
          </mat-form-field>
        </form>
  
        <div class="div-btn">
          <button
            mat-raised-button
            class="btn btn-info fw-normal"
            type="submit"
            id="button"
            (click)="changeForgotPw()"
           
          >
            Sauvegarder
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  
