<mat-card class="w-100">
    <mat-card-content>
      <button
        mat-button
        class="btn btn-primary fw-normal"
        matTooltip="Exporter en Excel"
        matTooltipPosition="above"
        style="float: right; margin-right: 0.142%"
        (click)="exportexcel()"
      >
        <mat-icon>save_alt</mat-icon>
      </button>
      <h4 class="mb-56" >Archive des factures</h4>
  
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="dataSource"
          id="excel-table"
          class="text-nowrap w-100"
        >
          <!-- Id Column -->
          <ng-container matColumnDef="référence">
            <th mat-header-cell *matHeaderCellDef>Référence</th>
            <td mat-cell class="fw-medium" *matCellDef="let facture">
              {{ facture.reference }}
            </td>
          </ng-container>
  
          <!-- Assigned Column -->
          <ng-container matColumnDef="créé_par">
            <th mat-header-cell *matHeaderCellDef>Créé par</th>
            <td mat-cell *matCellDef="let facture">
              <p class="mb-0 fw-medium">{{ facture.user.username }}</p>
            </td>
          </ng-container>
          <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef>Client</th>
            <td mat-cell *matCellDef="let facture">
              <p class="mb-0 fw-medium">{{ facture.client.nom }}</p>
            </td>
          </ng-container>
  
          <!-- Priority Column -->
          <ng-container matColumnDef="date_facturation">
            <th mat-header-cell *matHeaderCellDef>Date facturation</th>
            <td mat-cell *matCellDef="let facture">
              <p class="mb-0 fw-medium">{{ facture.date_facturation  }}</p>
            </td>
          </ng-container>
  
          <!-- Budget Column -->
          <ng-container matColumnDef="date_echeance">
            <th mat-header-cell *matHeaderCellDef>Date échéance</th>
            <td mat-cell *matCellDef="let facture">
              <p class="mb-0 fw-medium">{{ facture.date_echeance }}</p>
            </td>
          </ng-container>
          <ng-container matColumnDef="etat_facture">
            <th mat-header-cell *matHeaderCellDef>Etat facture</th>
            <td mat-cell *matCellDef="let facture">
              <p class="mb-0 fw-medium">{{ facture.etat_facture }}</p>
            </td>
          </ng-container>
  
          <!-- Project Column -->
          <ng-container matColumnDef="etat_echeance">
            <th mat-header-cell *matHeaderCellDef>Etat échéance</th>
            <td mat-cell *matCellDef="let facture">
              <div [ngSwitch]="facture.etat_echeance">
                <div *ngSwitchCase="true"><p class="mb-0 fw-medium"><span class="badge badge-danger rounded-pill">échu</span></p></div>
                <div *ngSwitchCase="false"><p class="mb-0 fw-medium"><span class="badge badge-info rounded-pill">non échu</span></p></div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="total_ht">
            <th mat-header-cell *matHeaderCellDef>Total HT/TND</th>
            <td mat-cell *matCellDef="let facture">
              <p class="mb-0 fw-medium">{{ facture.total_ht | number: "0.0-4" }}</p>
            </td>
          </ng-container>
          <ng-container matColumnDef="total_ttc">
            <th mat-header-cell *matHeaderCellDef>Total TTC/TND</th>
            <td mat-cell *matCellDef="let facture">
              <p class="mb-0 fw-medium">{{ facture.total_ttc | number: "0.0-4" }}</p>
            </td>
          </ng-container>
          <ng-container matColumnDef="total_devise">
            <th mat-header-cell *matHeaderCellDef>Total en devise</th>
            <td mat-cell *matCellDef="let facture">
              <p class="mb-0 fw-medium">{{ facture.total_devise| number: "0.0-4" }}</p>
            </td>
          </ng-container>
          <ng-container matColumnDef="nom_devise">
            <th mat-header-cell *matHeaderCellDef>Devise</th>
            <td mat-cell *matCellDef="let facture">
              <p class="mb-0 fw-medium">{{ facture.nom_devise}}</p>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef >
              Actions
            </th>
            <td
              mat-cell
              *matCellDef="let facture; let i = index"
            >
            <button
            mat-button
            class="btn btn-danger fw-normal btnw"
            style="margin-right: 1%"
            matTooltip="Supprimer la facture"
            matTooltipPosition="above"
            type="submit"
          >
            <mat-icon>delete</mat-icon>
          </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <mat-paginator
      #paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20, 30, 50, 100]"
    >
    </mat-paginator>
    </mat-card-content>
  </mat-card>
  
  
  